.ap
{
  position: absolute;
  top: 126px;
  left: 17px;
  width: 748px;
  height: 450px;
  background: url(../img/back_auth.png) no-repeat 0 0;
  z-index: 5;
}
  .ap_content
  {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 100%;
  }
    .ap_content-desc
    {
      display: -webkit-box;
      -webkit-box-align: end;
      height: 129px;
      padding: 0 31px;
    }
      .ap_desc-text
      {
        max-width: 335px;
        padding: 0 0 22px;
        font: bold 17pt/29px Arial;
      }

    .ap_content-action
    {
      display: -webkit-box;
      -webkit-box-pack: justify;
      height: 253px;
      padding: 0 31px;
    }
      .ap_action-both
      {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-box-pack: end;
        max-width: 335px;
      }
      .ap_content-action.reverse .ap_action-both {-webkit-box-ordinal-group: 2;}
        .ap_action-social {-webkit-box-flex: 1;}
          .ap_social-text
          {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-box-pack: end;
            min-height: 49px;
            margin: 0 0 10px;
          }
            .ap_text-big {font: bold 12pt Arial;}

            .ap_text-small
            {
              display: block;
              padding: 0 0 3px;
              font: 9pt/15px Arial;
            }

          .ap_social-auth {display: inline-block;}
            .ap_social-block
            {
              float: left;
              width: 161px;
              height: 50px;
              margin-bottom: 10px;
            }
            .ap_social-block:nth-child(2n-1) {margin-right: 13px;}
              .ap_social-link
              {
                overflow: hidden;
                display: block;
                height: 100%;
                text-decoration: none;
                cursor: pointer;
              }
                .ap_social-icon
                {
                  display: block;
                  position: relative;
                  width: 53px;
                  height: 100%;
                  background-repeat: no-repeat;
                  font: bold 7pt/50px Arial;
                  color: #ffffff;
                  text-indent: 62px;
                  text-transform: uppercase;
                  white-space: nowrap;
                }
                  .ap_social-icon::before
                  {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: url(../img/icon_social.png) no-repeat;
                  }

              .ap_social-link.fb {background-image: -webkit-linear-gradient(bottom, #293f65 0%, #293f65 100%);}
              .ap_social-link.fb:hover {background-image: -webkit-linear-gradient(bottom, #233557 0%, #46669f 100%);}
              .ap_social-link.fb:active {background-image: -webkit-linear-gradient(bottom, #253759 0%, #202d47 100%);}

              .ap_social-link.vk {background-image: -webkit-linear-gradient(bottom, #486d94 0%, #486d94 100%);}
              .ap_social-link.vk:hover {background-image: -webkit-linear-gradient(bottom, #355078 0%, #5c8caf 100%);}
              .ap_social-link.vk:active {background-image: -webkit-linear-gradient(bottom, #37527a 0%, #2e4565 100%);}

              .ap_social-link.ok {background-image: -webkit-linear-gradient(bottom, #df5b02 0%, #df5b02 100%);}
              .ap_social-link.ok:hover {background-image: -webkit-linear-gradient(bottom, #df5c02 0%, #ef8e04 100%);}
              .ap_social-link.ok:active {background-image: -webkit-linear-gradient(bottom, #e05e02 0%, #c75204 100%);}

              .ap_social-link.zzma {background-image: -webkit-linear-gradient(bottom, #525250 0%, #525250 100%);}
              .ap_social-link.zzma:hover {background-image: -webkit-linear-gradient(bottom, #3e3e3c 0%, #6b6b68 100%);}
              .ap_social-link.zzma:active {background-image: -webkit-linear-gradient(bottom, #40403e 0%, #343432 100%);}

              .ap_social-link.ae {background-image: -webkit-linear-gradient(bottom, #202428 0%, #202428 100%);}
              .ap_social-link.ae:hover {background-image: -webkit-linear-gradient(bottom, #1e1f22 0%, #1e1f22 100%);}
              .ap_social-link.ae:active {background-image: -webkit-linear-gradient(bottom, #010101 0%, #212426 100%);}

              .ap_social-link.msv {background-image: -webkit-linear-gradient(bottom, #2284ac 0%, #2284ac 100%);}
              .ap_social-link.msv:hover {background-image: -webkit-linear-gradient(bottom, #389ec5 0%, #1d5f78 100%);}
              .ap_social-link.msv:active {background-image: -webkit-linear-gradient(bottom, #104e67 0%, #185b76 100%);}

              .ap_social-link.dlt {background-image: -webkit-linear-gradient(bottom, #fdfdfb 0%, #fdfdfb 100%);}
              .ap_social-link.dlt:hover {background-image: -webkit-linear-gradient(bottom, #dbdbd7 0%, #fdfdfb 100%);}
              .ap_social-link.dlt:active {background-image: -webkit-linear-gradient(bottom, #fcfcfa 0%, #dadad6 100%);}

              .ap_social-link.dlt .ap_social-icon {color: #010101;}

              .ap_social-link.fb .ap_social-icon::before {background-position: 0 0;}
              .ap_social-link.vk .ap_social-icon::before {background-position: 0 -49px;}
              .ap_social-link.ok .ap_social-icon::before {background-position: 0 -98px;}
              .ap_social-link.zzma .ap_social-icon::before {background-position: 0 -147px;}
              .ap_social-link.ae .ap_social-icon::before {background-position: 0 -196px;}
              .ap_social-link.msv .ap_social-icon::before {background-position: 0 -245px;}
              .ap_social-link.dlt .ap_social-icon::before {background-position: 0 -294px;}

              .ap_social-link.fb .ap_social-icon {background-image: -webkit-linear-gradient(bottom, #3d537b 0%, #5f79ab 100%);}
              .ap_social-link.fb:hover .ap_social-icon {background-image: -webkit-linear-gradient(bottom, #475f8a 0%, #6d88bd 100%);}
              .ap_social-link.fb:active .ap_social-icon {background-image: -webkit-linear-gradient(bottom, #5f79ab 0%, #3d537b 100%);}

              .ap_social-link.vk .ap_social-icon {background-image: -webkit-linear-gradient(bottom, #184268 0%, #315f8a 100%);}
              .ap_social-link.vk:hover .ap_social-icon {background-image: -webkit-linear-gradient(bottom, #214769 0%, #3d709f 100%);}
              .ap_social-link.vk:active .ap_social-icon {background-image: -webkit-linear-gradient(bottom, #315f8a 0%, #184268 100%);}

              .ap_social-link.ok .ap_social-icon {background-image: -webkit-linear-gradient(bottom, #ea5f02 0%, #f19102 100%);}
              .ap_social-link.ok:hover .ap_social-icon {background-image: -webkit-linear-gradient(bottom, #f2791a 0%, #faa11c 100%);}
              .ap_social-link.ok:active .ap_social-icon {background-image: -webkit-linear-gradient(bottom, #f19202 0%, #ea6002 100%);}

              .ap_social-link.zzma .ap_social-icon {background-image: -webkit-linear-gradient(bottom, #262626 0%, #454545 100%);}
              .ap_social-link.zzma:hover .ap_social-icon {background-image: -webkit-linear-gradient(bottom, #2f2e2e 0%, #565555 100%);}
              .ap_social-link.zzma:active .ap_social-icon {background-image: -webkit-linear-gradient(bottom, #262626 0%, #454545 100%);}

              .ap_social-link.ae .ap_social-icon {background-image: -webkit-linear-gradient(bottom, #34373b 0%, #0e0f13 100%);}
              .ap_social-link.ae:hover .ap_social-icon {background-image: -webkit-linear-gradient(bottom, #5d5f64 0%, #2c2e31 100%);}
              .ap_social-link.ae:active .ap_social-icon {background-image: -webkit-linear-gradient(bottom, #0e0f13 0%, #35373b 100%);}

              .ap_social-link.msv .ap_social-icon {background-image: -webkit-linear-gradient(bottom, #18759b 0%, #0d5774 100%);}
              .ap_social-link.msv:hover .ap_social-icon {background-image: -webkit-linear-gradient(bottom, #66c7ee 0%, #18759b 100%);}
              .ap_social-link.msv:active .ap_social-icon {background-image: -webkit-linear-gradient(bottom, #0d5774 0%, #18759b 100%);}

              .ap_social-link.dlt .ap_social-icon {background-image: -webkit-linear-gradient(bottom, #ededed 0%, #ffffff 100%);}
              .ap_social-link.dlt:hover .ap_social-icon {background-image: -webkit-linear-gradient(bottom, #c0c0c0 0%, #fefefe 100%);}
              .ap_social-link.dlt:active .ap_social-icon {background-image: -webkit-linear-gradient(bottom, #ffffff 0%, #c1c1c1 100%);}
        .ap_action-desc
        {
          padding: 0 0 3px;
          font: 8pt/14px Arial;
          color: #aec9c7;
        }
          .ap_action-link {color: #ffffff !important;}

      .ap_action-connect
      {
        display: -webkit-box;
        position: relative;
        width: 318px;
        min-height: 100%;
      }
        .ap_connect-tab
        {
          -webkit-box-flex: 1;
          height: 49px;
        }
          .ap_tab-head {height: 100%;}
            .ap_tab-link
            {
              display: block;
              position: relative;
              height: 100%;
              font: bold 10.5pt/47px Arial;
              color: #ffffff;
              text-align: center;
              text-decoration: none;
              cursor: pointer;
            }
              .ap_tab-text {padding: 0 0 4px;}

          .ap_tab-form
          {
            display: none;
            position: absolute;
            left: 0;
            right: 0;
            top: 49px;
            bottom: 0;
            padding: 0 23px;
            background: rgba(27, 95, 103, 0.55);
            border-top-width: 0 !important;
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
            box-shadow: -1px 0 0 0 #12251f, 1px 0 0 0 #12251f, 0 1px 0 0 #12251f, -3px 0 2px -2px rgba(0, 0, 0, 0.5), 3px 0 2px -2px rgba(0, 0, 0, 0.5), 0 3px 2px -2px rgba(0, 0, 0, 0.76) !important;
          }
            .ap_form-content {margin: 13px 0 0;}
              .ap_form-line
              {
                position: relative;
                margin: 0 0 12px;
              }
              .ap_form-submit
              {
                display: -webkit-box;
                -webkit-box-align: center;
                padding-top: 2px;
              }
              .ap_form-text
              {
                font: 9pt Arial;
                color: #ffffff;
              }
              .ap_form-line.ap_form-text {margin-bottom: 6px;}
                .ap_form-input
                {
                  width: 100%;
                  height: 32px;
                  border: 1px solid #388686;
                  padding: 0 11px;
                  font: 10.5pt Arial;
                  color: #000000;
                }
                .ap_form-input.valid
                {
                  border-color: #3fff36;
                  background: #bfe8bb;
                  box-shadow: 0 0 6px rgba(63, 255, 54, 0.8);
                }
                .ap_form-input.error
                {
                  border-color: #ef4133;
                  background: #ffd1d1;
                  box-shadow: 0 0 6px rgba(250, 57, 57, 0.8);
                }

                .ap_form-content .p_error {display: none;}
                .ap_form-input.error + .p_error {display: block;}

                .ap_content-action .p_error
                {
                  right: 13px;
                  margin: 0 100% 0 -115%;
                }
                .ap_content-action .p_error::before
                {
                  right: -10px;
                  border-left-color: transparent;
                  border-bottom-color: transparent;
                  border-right-color: inherit;
                  border-top-color: inherit;
                }

                .ap_content-action.reverse .p_error,
                .ap_action-connect:only-of-type .p_error
                {
                  left: 13px;
                  margin: 0 -115% 0 100%;
                }
                .ap_content-action.reverse .p_error::before,
                .ap_action-connect:only-of-type .p_error::before
                {
                  left: -10px;
                  border-right-color: transparent;
                  border-top-color: transparent;
                  border-left-color: inherit;
                  border-bottom-color: inherit;
                }

                .ap_form-button
                {
                  -webkit-box-flex: 1;
                  display: block;
                  height: 37px;
                }
                  .ap_form-button .b_submit
                  {
                    width: 100%;
                    height: 100%;
                  }
                .ap_form-button + .ap_form-text {margin: 0 0 0 16px;}

            .ap_connect-tab:target .ap_tab-link
            {
              padding: 0 25px;
              border-bottom-width: 0 !important;
              border-bottom-left-radius: 0 !important;
              border-bottom-right-radius: 0 !important;
              background: rgba(27, 95, 103, 0.55);
              box-shadow: -1px 0 0 0 #12251f, 1px 0 0 0 #12251f, 0 -1px 0 0 #12251f, -3px 0 2px -2px rgba(0, 0, 0, 0.5), 3px 0 2px -2px rgba(0, 0, 0, 0.5), 0 -3px 2px -2px rgba(0, 0, 0, 0.76) !important;
              cursor: default;
            }
            .ap_connect-tab:not(:target) .ap_tab-link
            {
              padding: 0 26px;
              border-left-width: 0 !important;
              border-right-width: 0 !important;
              border-top-color: transparent !important;
              color: #fceb9c;
              border-radius: 0 !important;
              box-shadow: inset 0 -3px 2px -2px rgba(0, 0, 0, 0.5) !important;
              z-index: 1;
            }
            .ap_connect-tab:not(:target):hover .ap_tab-link {color: #ffffff;}
              .ap_connect-tab:not(:target) .ap_tab-text {background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAADAgMAAAAmWC1rAAAABGdBTUEAALGPC/xhBQAAAAlQTFRFAAAA/OucAAAASaGYcAAAAAF0Uk5TllmK7hcAAAARSURBVAjXY9BiYJjawKDFAAAGlgFqgP49sAAAAABJRU5ErkJggg==) repeat-x 0 100%;}
              .ap_connect-tab:not(:target):hover .ap_tab-text {background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAADAgMAAAAmWC1rAAAABGdBTUEAALGPC/xhBQAAAAlQTFRFAAAA////AAAAc8aDcQAAAAF0Uk5TllmK7hcAAAARSURBVAjXY9BiYJjawKDFAAAGlgFqgP49sAAAAABJRU5ErkJggg==);}
          .ap_connect-tab:target .ap_tab-form {display: block;}

    .ap_content-check
    {
      display: -webkit-box;
      -webkit-box-flex: 1;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      margin: 18px 0 0;
      background: rgba(0, 0, 0, 0.3);
    }