.ap
{
	cursor: default;
	-webkit-user-select: none;
}
	.ap *
	{
		padding: 0;
		margin: 0;
	}
	.ap ul, .ap ol {list-style: none;}
	.ap input {box-sizing: border-box;}
	.ap a {color: inherit;}
	.ap button
	{
		border: none;
		background: none;
	}
	.ap *:focus {outline: none;}