.idea
pw/branches/r1117/Bin/logs
pw/branches/r1117/Src/_Debug
pw/branches/r1117/Src/_Release
pw/branches/r1117/Src/_ReleaseSingleExe
pw/branches/r1117/Src/_Shipping
pw/branches/r1117/Src/_ShippingSingleExe
pw/branches/r1117/Src/DBCodeGen/obj
pw/branches/r1117/Src/EaselLevelEditor/obj
pw/branches/r1117/Src/EditorLib/obj
pw/branches/r1117/Src/EditorPlugins/obj
pw/branches/r1117/Src/libdb.NET/obj
pw/branches/r1117/Src/MayaExeInteraction/obj
pw/branches/r1117/Src/PF_Editor/obj
pw/branches/r1117/Src/PF_EditorC/obj
pw/branches/r1117/Src/PF_TypeIcons/obj
pw/branches/r1117/Src/PF_Types/obj
pw/branches/r1117/Src/PF_Types.DBTypes/obj
pw/branches/r1117/Src/PW_MiniLauncher/obj
pw/branches/r1117/Src/SocialTypes/obj
pw/branches/r1117/Src/SocialTypes.DBTypes/obj
pw/branches/r1117/Src/Types/obj
pw/branches/r1117/Src/Types.DBTypes/obj
*.ncb
*.suo
pw/branches/r1117/Src/Win32/obj
*.user
pw/branches/r1117/Src/.vs
pw/branches/r1117/Src/PWClassic_Sandbox/_Debug
pw/branches/r1117/Src/Data
pw/branches/r1117/Src/Localization
pw/branches/r1117/Src/Profiles
pw/branches/r1117/Src/PW_Game/PW_Game.vcproj.HOLYWORKSTATION.holyd.user
pw/branches/r1117/Src/Bin/logs
pw/branches/r1117/Bin_Original/logs
pw/branches/r1117/Src/PWClassic_Sandbox/_Release
pw/branches/r1117/Src/PWClassic_Sandbox/PWClassicSandbox/Release
pw/branches/r1117/Src/Bin/screenshots
pw_publish/LauncherX/v1.5/Launcher/logs
pw_publish/LauncherX/v1.5/PatchMaker/logs
*.vsidx
*.cache
pw/branches/r1117/Profiles/PF_Editor.config
pw/branches/r1117/Tools/FilePileCompiler/Data
pw/branches/r1117/Src/Packs
pw/branches/r1117/Src/Release
PW_PackData/out
pw/branches/r1117/Tools/FilePileCompiler/FilePileCompiler/Release
pw/branches/r1117/Src/PW_Game/server_ip.h
PW_PackData/PackData_.ps1
