.idea
pw/branches/r1117/Bin/logs
pw/branches/r1117/Src/_Debug
pw/branches/r1117/Src/_Release
pw/branches/r1117/Src/_ReleaseSingleExe
pw/branches/r1117/Src/_Shipping
pw/branches/r1117/Src/_ShippingSingleExe
pw/branches/r1117/Src/DBCodeGen/obj
pw/branches/r1117/Src/EaselLevelEditor/obj
pw/branches/r1117/Src/EditorLib/obj
pw/branches/r1117/Src/EditorPlugins/obj
pw/branches/r1117/Src/libdb.NET/obj
pw/branches/r1117/Src/MayaExeInteraction/obj
pw/branches/r1117/Src/PF_Editor/obj
pw/branches/r1117/Src/PF_EditorC/obj
pw/branches/r1117/Src/PF_TypeIcons/obj
pw/branches/r1117/Src/PF_Types/obj
pw/branches/r1117/Src/PF_Types.DBTypes/obj
pw/branches/r1117/Src/PW_MiniLauncher/obj
pw/branches/r1117/Src/SocialTypes/obj
pw/branches/r1117/Src/SocialTypes.DBTypes/obj
pw/branches/r1117/Src/Types/obj
pw/branches/r1117/Src/Types.DBTypes/obj
*.ncb
*.suo
pw/branches/r1117/Src/Win32/obj
