<?xml version="1.0" encoding="utf-8" ?>
<monitoring.counters>
  <!--
  possible formats of counter request (wildcard (*) is allowed):
    cluster/counter
    cluster/service/counter
    cluster/service/id/counter

  attributes 'field' should match fields of MonitoringInfo structure
  defined in interface MonitoringSummary.thrift
  -->

  <!-- Counters requested from pvx cluster -->
  <pvx>
    <add field="game_ccu"                           counter="*/gamesvc/game_ccu" />
    <add field="bld_ccu"                            counter="*/gamesvc/bld_ccu" />
    <add field="dwd_ccu"                            counter="*/gamesvc/dwd_ccu" />
    <add field="ner_ccu"                            counter="*/gamesvc/ner_ccu" />
    <add field="ops_ccu"                            counter="*/gamesvc/ops_ccu" />
    <add field="trn_ccu"                            counter="*/gamesvc/trn_ccu" />
    <add field="tut_ccu"                            counter="*/gamesvc/tut_ccu" />
    <add field="oth_ccu"                            counter="*/gamesvc/oth_ccu" />
    <add field="begin_delivery_awards_count"        counter="*/roll/begin_delivery_awards_count" />
    <add field="begin_delivery_guild_awards_count"  counter="*/roll/begin_delivery_guild_awards_count" />
    <add field="awards_delivered_count"             counter="*/roll/awards_delivered_count" />
    <add field="awards_failed_count"                counter="*/roll/awards_failed_count" />
    <add field="awards_line_size"                   counter="*/roll/awards_line_size" />
    <add field="awards_in_line_time"                counter="*/roll/awards_in_line_time" />
  </pvx>

  <!-- Counters requested from social cluster -->
  <social>
    <add field="socialccu" />
  </social>

  <!-- Period of sending info to statistic service (sec) -->
  <statperiod value="300" />

</monitoring.counters>