<?xml version="1.0" encoding="utf-8" ?>
<monitoring.networking>
  <add key="GameCluster_monitoring_url" value="http://localhost:8703"/>
  <add key="SocialCluster_monitoring_url" value=""/>
  <add key="StatisticService_url" value="http://localhost:35922"/>
  <add key="MonitoringSummary_url_prefix" value="http://+:35501/"/>
</monitoring.networking>