<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>


<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />



<meta property="og:title" content="Prime World - Бесплатная онлайн игра" />


<title>Prime World - Бесплатная онлайн игра</title>



<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>

<script type="text/javascript" src="http://ivanov-mac:10006/key.js"></script>
<script type="text/javascript" src="http://ivanov-mac:10006/static/track_downloads.js"></script>

<script type="text/javascript" src="http://userapi.com/js/api/openapi.js?48"></script>

</head>

<body>


<div id="wrap">
    <div id="btn">
        <a class="download" href="http://updates.playpw.com/PWSetup.exe" title="Скачать игру">Скачать игру</a>
    </div>
</div>


</body>

</html>

