<?xml version="1.0"?>
<connectionStrings>
  <add name="AdminDatabase" connectionString="Server=localhost;Port=5432;Database=gmdb_admin;User ID=gmadmin;Password=gmadmin"/>
  <add name="ManagementDatabase" connectionString="Server=localhost;Port=5432;Database=pw_management;User ID=gmadmin;Password=gmadmin"/>
</connectionStrings>