<?xml version="1.0" encoding="utf-8" ?>
<gmAccounting>
<!--  <add key="gmAccountingAddress" value="http://localhost:8888/Account" />-->
  <add key="gmAccountingAddress" value="http://localhost:8706/thrift?service=account_management" />
  <add key="geolocationDictionaryAddress" value="http://ru.qa.playpw.com/api" />
  <add key="replaysServerAddress" value="http://127.0.0.1:8000/replays" />
  <add key="replaysURLServerAddress" value="http://127.0.0.1:5000" />
</gmAccounting>