<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<body><div style="font-family:Arial, Helvetica, sans-serif;  background-color: #dfe8f0; padding: 0; margin: 0; border: none">
	<table width="600" border="0" cellpadding="0" cellspacing="0" align="center"  style="border-collapse: collapse; "><tbody>
		<tr><td colspan="5" style="color:#999999; padding: 5 0 5 0; margin: 0;font-size:10;" align="center">Для просмотра письма необходимо включить показ изображений в настройках почтового клиента.</td></tr>
		<tr><td colspan="5" width="100%" height="200"><img src="images/header.jpg" width="600" height="200" style="display:block; border:none;" alt="Prime World"></td></tr>	
		<tr><td colspan="5" width="100%" height="32"><img src="images/bodyTop.jpg" width="600" height="32" style="display:block; border:none;"></td></tr>
		<tr>
			<td colspan="1" width="8" height="100%" style="background-color: #202c2c;"></td>
			<td colspan="1" width="20" height="100%" style="background-color: #114144;"></td>
			<td colspan="1" style="background-color: #114144; font-size:14; color:#ffffff;">
				<p style="font-size:18; text-align: center; margin-top: 0;">Добро пожаловать в Prime World!</p>
				<p>Спасибо за регистрацию в игре Prime World, в которой вас ждут увлекательные приключения и яростные битвы!</p>
				<p>Пожалуйста, пройдите по следующей ссылке для подтверждения регистрации: __________. </p>
				<p>Если подтверждение регистрации не будет произведено в течение __________ дней, вход в игру будет заблокирован.</p>
				<p>Узнать про Prime World можно на <a style="color: #00f3ff; text-decoration:none; outline: 0;" href="http://www.playpw.com" target="_blank">официальном сайте</a>, <a style="color: #00f3ff; text-decoration:none;  outline: 0; href="http://ru.playpw.com/forum/index.php" target="_blank">форуме</a>, а также в <a style="color: #00f3ff; text-decoration:none; outline: 0;" href="http://ru.primeworld.wikia.com/wiki/Prime_World_%D0%B2%D0%B8%D0%BA%D0%B8" target="_blank">нашей Википедии</a>.</p>
				<p>Если вы не регистровались в Prime World, пожалуйста, сообщите об этом в <a style="color: #00f3ff; text-decoration:none; outline: 0;" href="http://support.zzima.com/" target="_blank">нашу службу поддержки</a>.</p>
				
				<p>Срок подтверждения регистрации в Prime World истек, и вход в игру временно заблокирован.</p>
				<p>Для подтверждения регистрации вам надо пройти по следущей ссылке: __________</p>
				
				<p>Для аккаунта __________ была запрошена смена пароля.</p>
				<p>Чтобы сменить пароль для входа в Prime, пройди по следующей ссылке: __________</p>
				<p>Если вы не запрашивали смену пароля, просто проигнорируйте письмо.</p>
			</td>
			<td colspan="1" width="20" height="100%" style="background-color: #114144;"></td>
			<td colspan="1"  width="8" height="100%" style="background-color: #202c2c;"></td>
		</tr>
		<tr><td colspan="5" width="100%" height="32"><img src="images/bodyBottom.jpg" width="600" height="32" style="display:block; border:none;"></td></tr>
	</tbody></table>
	
	<table width="600" border="0" cellpadding="5" cellspacing="5" align="center"  style="background-color: #202c2c; border-collapse: collapse;"><tbody>	
		<tr align="center" width="100%" height="50" style="background-color: #202c2c;">
			<td width="200"></td>
			<td width="32"><a style="color: #00f3ff;text-decoration:none; outline: 0;" href="http://www.facebook.com/mirprime" target="_blank" title="Facebook"><img src="images/fb.png" width="32" height="32" style="display:block; border:none;"></a></td>
			<td width="32"><a style="color: #00f3ff;text-decoration:none; outline: 0;" href="http://vk.com/prime_world" target="_blank" title="В контакте"><img src="images/vk.png" width="32" height="32" style="display:block; border:none;"></a></td>
			<td width="32"><a style="color: #00f3ff;text-decoration:none; outline: 0;" href="http://twitter.com/primeworld_ru" target="_blank" title="Twitter"><img src="images/twitter.png" width="32" height="32" style="display:block; border:none;"></a></td>
			<td width="32"><a style="color: #00f3ff;text-decoration:none; outline: 0;" href="http://www.youtube.com/user/primeworldru" target="_blank" title="Youtube"><img src="images/youtube.png" width="32" height="32" style="display:block; border:none;"></a></td>
			<td width="32"><a style="color: #00f3ff;text-decoration:none; outline: 0;" href="http://odnoklassniki.ru/group/50758625919048" target="_blank" title="Одноклассники"><img src="images/ok.png" width="32" height="32" style="display:block; border:none;"></a></td>
			<td width="32"><a style="color: #00f3ff;text-decoration:none; outline: 0;" href="http://www.zzima.com/games/pw" target="_blank" title="Zzima"><img src="images/zz.png" width="32" height="32" style="display:block; border:none;"></a></td>
			<td width="200"></td>
		</tr>
	</tbody></table>
	
	<table width="600" border="0" cellpadding="0" cellspacing="0" align="center" style="background-color: #202c2c; border-collapse: collapse;"><tbody>	
		<tr height="40">
			<td width="20"></td>
			<td width="490" style="color:#999999; padding: 0 0 10 0; font-size:10;" align="left" valign="bottom" >
				<span style="color:#ffffff; font-size:11;">
					2008-2012 Nival. <a style="color: #00f3ff;text-decoration:none; outline: 0;" href="http://www.playpw.com" target="_blank">Prime World</a> является торговой маркой Nival.<br>
					Разрабатывается и издается компанией <a style="color: #00f3ff;text-decoration:none; outline: 0;" href="http://www.nival.com" target="_blank" title="Nival">Nival</a>. Все права защищены.
				</span>
			</td>
			<td valign="middle" width="90">
				<a style="color: #00f3ff;text-decoration:none; outline: 0;" href="http://www.nival.com" target="_blank"><img src="images/nival.png" width="74" height="34" hspace="5" vspace="5" style="display:block; border:none;"></a>
			</td>
		</tr>
		<tr colspan="3" height="10"></tr>
	</tbody></table>		
</div></body></html>