.fieldLabel
{
	width: 200px;
	vertical-align: top;
}

.radioList
{
	font-family: Verdana;
	font-size: 10pt;
	color: #096095;
}

.smallTextArea
{
	border: 1px solid #373c3f;
	background-color: #faf9f8;
	color: #046294;
	font-family: Verdana;
	font-size: 10pt;
	text-align: left;	
	height: 100px;
	width: 400px;
	overflow: auto;
	word-wrap: normal;
	cols: 50;
	rows: 20;
}

.writeoffImg 
{
	background-image:url(../Images/icon-01.gif);
	background-position:right;
	background-repeat:no-repeat;
	width:100px;
	text-align:left;
}
