.resultLabel
{
	color: #000000;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Courier New';
	font-size: 16px;
}

.headerRow
{
	background-color: #E9E6E1;
	font-family: Arial, Helvetica, sans-serif;
	color: #4D4C51;
	font-size: 12px;
	font-weight: normal;
	height: 40px;
	text-decoration: none;
}

.normalRow
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333538;
	background-color: #FAF9F7;
	height: 30px;
}

.alternativeRow
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333538;
	background-color: #E1EBED;
	height: 30px;
}


.highlightRow
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #FFF8A0;
	color: #252525;
	height: 30px;
}

.alternativeHighlightRow
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #C9DEE1;
	color: #000000;
	height: 30px;
}