.headerRowAsc
{
    background-image:url(../Images/icon-sort1.gif);
    background-position: right center;
    background-repeat: no-repeat;
}

.headerRowAsc a
{
	margin-right:10px;
}

.headerRowDesc
{
    background-image:url(../Images/icon-sort2.gif);
    background-position: right center;
    background-repeat: no-repeat;
}

.headerRowDesc a
{
	margin-right:10px;
}

.headerRow th
{
	background-color: #E9E6E1;
	font-family: Verdana;
	color: #3B3C37;
	font-size: 10pt;
	font-weight: normal;
	height: 38px;
	text-decoration: none;
	border-bottom: 1px solid #3B3C37; 
	border-right: 1px solid #3B3C37;
	vertical-align:top;
	line-height:30px;
}

.normalRow td
{
	font-family: Verdana;
	font-size: 10pt;
	color: #3B3C37;
	background-color: #FFFFFF;
	height: 30px;
	border-right: 1px solid #3B3C37;
	cursor:pointer;
}

.alternativeRow td
{
	font-family: Verdana;
	font-size: 10pt;
	color: #3B3C37;
	background-color: #E0E9EE;
	height: 30px;
	border-right: 1px solid #3B3C37;
	cursor:pointer;
}

.normalColor td
{
	color: #3B3C37;
	background-color: #E0E9EE;
}

.selectRow td
{
	color: #3B3C37;
	background-color: #FFF8A0;
	font-family: Verdana;
	font-size: 10pt;
	height: 30px;
	border-right: 1px solid #3B3C37;
	cursor:pointer;
}

.bottomBorder
{
	border-bottom: 1px solid #3B3C37;	
}

.gridArea
{
	width:100%;
	height:160px;	
	overflow-y:scroll;
	overflow-x:hidden;
	border: 1px solid #3B3C37;
}

.columnInv 
{ 
    width: 1px;
    display: none; 
}

.labelCount
{
	font-weight:bold;
	color: #096095;
	font-size: 12px;
}

.underlineLabelCount
{
	font-weight:bold;
	color: #096095;
	font-size: 12px;
	vertical-align: bottom; 
}
