.loginLogo
{
    background-image:url(../Images/logo.gif);
    border-width:0px;
    width:249px;
    height:80px;
    background-position: center;
    background-repeat: no-repeat;
}

.loginCtrl
{
    Height:185px;
    Width:420px;
}

.loginPanel
{
    left:50%;
    top:50%;
    margin-top:-120px;
    margin-left:-200px;
    position:absolute;
}

.loginForm
{
	border: 1px solid #787667; 
    text-align: center;
    vertical-align: middle;
    background-color:#d8d4c9;
}
