.textArea
{
	border:1px solid #373c3f;
	background-color:#faf9f8;
	color:#046294;
	font-family:Verdana;
	font-size:10pt;
	text-align:left;	
	height:100px;
	width:100%;
	overflow:auto;
	word-wrap:normal;
	cols: 50;
	rows: 20;
}

.areaRowHeight
{
	height:100px;
	vertical-align:top;
}

.fieldsLabel
{
	height:35px;
	width:200px;
	vertical-align:top;
}

.generateImg 
{
	background-image:url(../Images/icon-01.gif);
	background-position:right;
	background-repeat:no-repeat;
	width:145px;
	text-align:left;
}

.gridAreaPromocodes
{
	width:100%;
	height:292px;
}