
.settingArea
{
	height:90px;
}

.settingAreaSep 
{
	background-image:url(../Images/punktir-line.gif);
	background-repeat:repeat-x;
	background-position:bottom;
	height:140px;
	width:100%;
	padding:0px;
}

.settingAreaSep1
{
	background-image:url(../Images/punktir-line.gif);
	background-repeat:repeat-x;
	background-position:bottom;
	height:35px;
	width:100%;
	padding:0px;
}

.radioBlock
{
	height:50px;
}

.listBlock
{
	height:70px;
}

.settLabelback
{
	background-image:url(../Images/punktir-line.gif);
	background-repeat:repeat-x;
	background-position:bottom;	
	height: 17px;
}

.settings
{
	width:100%;
	height:100%;
	padding-top:0px;
	padding-bottom:0px;
	vertical-align:top;
}

.settings1
{
	width:100%;
	padding-top:0px;
	padding-bottom:0px;
	vertical-align:top;
	border:1px solid black;	
}

.settings2
{
	width:100%;
	padding-top:0px;
	padding-bottom:0px;
	vertical-align:top;
}

.leftColumn
{
	width:50%; 
	text-align:left; 
	vertical-align: top;
	padding-top: 5px;
}

.leftColumn1
{
	width:50%; 
	text-align:left; 
	vertical-align: top;
	padding-top: 10px;
}

.rightColumn
{
	width:50%; 
	text-align:right; 
	vertical-align: top;
	padding-right: 40px;
	padding-top:0;
}

.rightColumn1
{
	width:50%; 
	height:30px;
	text-align:right; 
	vertical-align: middle;
	padding-right: 40px;
	padding-top:0;
}

.radio td
{
	vertical-align: top;
	height: 20px;
}

.radio *
{
	vertical-align: top;
}

.applyImg 
{
	background-image:url(../Images/icon-01.gif);
	background-position:right;
	background-repeat:no-repeat;
	width:120px;
	text-align:left;
}

.last
{
	height:100%;
	width:100%;
}

