.buttonsAreaBack
{
	background-color: #646767;
	vertical-align:middle;
}

.buttonsSeparator
{
	background-image: url(../Images/punktir-line.gif);
	background-position: center center;
	background-repeat: repeat-x;
}