/*inside blue text*/
.insideText
{
	color: #046294;
	font-size: 10px;
	font-family: Verdana;
}

.buttonSep
{
	background-image: url(../Images/punktir-line-v.gif);
	background-repeat:repeat-y;
	background-position:center center;
	width:10px;
}	

.buttonTempl
{
	width:15px;
	text-align:center;
}

.buttonTemplDel
{
	cursor:pointer;	
}

.templateSeparator
{
	background-image:url(../Images/punktir-line.gif);
	background-repeat:repeat-x;
	background-position:bottom;
}

.nullWidth
{
	width:0px;	
}

.editBoxHours
{
	border:1px solid #373c3f;
	background-color:#faf9f8;
	color:#046294;
	font-family:Verdana;
	font-size:10pt;
	vertical-align:middle;	
	text-align:left;	
	height:20px;
	width:60px;
}

.pagerRowHeight
{
	height:.40px;
	vertical-align:top;
}

.gridAreaTemplates
{
	width:100%;
	height:250px;
}