.mainLogo
{
    background-image:url(../Images/logo.gif);
    border-width:0px;

    background-position: left center;
    background-repeat: no-repeat;
}

.menuButtons
{
	width:954px;
}

.menuBtn
{
	background-image:url(../Images/field-menu.gif);
	background-repeat:repeat-x;
	width:190px;
	height:42px;
	display:block;
	text-align:center;
	text-decoration:none;
	font-family:Verdana;
	font-size:10pt;
	color:#ecefd4;
	line-height:42px;
	margin-right:1px;
}

.menuBtnSelected
{
	background-image:url(../Images/field-menu-active.gif);
	background-repeat:repeat;
	width:190px;
	height:42px;
	display:block;
	text-align:center;
	text-decoration:none;
	font-family:Verdana;
	font-size:10pt;
	font-weight:bold;	
	color:white;
	line-height:42px;
}

.menuBtnHover
{
	background-image:url(../Images/field-menu.gif);
	background-repeat:repeat-x;
	width:190px;
	height:42px;
	display:block;
	text-align:center;
	text-decoration:none;
	font-family:Verdana;
	font-size:10pt;
	font-weight:bold;
	color:#ecefd4;
	line-height:42px;
}

.menuSeparator
{
	width:1px;
}

.menuLeft
{
	background-image:url(../Images/field-menu-01.gif);
	background-repeat:no-repeat;
	background-position:center;
	width:6px;
	height:42px;	
}

.menuRight
{
	background-image:url(../Images/field-menu.gif);
	background-repeat:repeat-x;
	background-position:center center;
	height:42px;
}

.line
{
	background-image:url(../Images/line.gif);
	background-repeat:repeat-x;
}

.RightConer
{
	background-image:url(../Images/right-coner-bg.gif);
	background-repeat:repeat-y;
	background-position:right;
}

.RightConer tr
{
	height:50%;
}

.RightConerFont
{
	text-align:center;
	font-family:Verdana;
	font-size:8pt;
	color:black;	
}

.RightConer RightConerFont td
{
	vertical-align:middle;
}

.menuHeight
{
	height:42px;
}

/* by lim: to prevent 1px hole in top menu on IE7*/
td.menuCenter > a
{
	display: none;
}