body
{
}

.background
{
	background-image:url(../Images/main-background.gif);
}  

html,body, form {
	margin:0;
	padding:0;
	height:100%;
	width:100%;
}
    
.full-height 
{
	height:100%;
	width:100%;
	border:0px solid black;
}

.bodyBorderWidth
{
	width:30px;
}

.bodyBorder
{
	background-color: #d8d4c9;
	width:30px;
}

.bodyBorder1
{
	background-color: #ece9e4;
	width:30px;	
}

.bodyBackground
{
	background-color: #ece9e4;	
	font-family: Verdana;
	font-size: 10pt;
	color: #3b3c37;
	display:table-cell;
}

.bodyTable
{
	height:100%;
	width:100%;
	min-width:1005px;
	padding:0;
}

.bottomLineHeight
{
	height:20px;
}

.bottomLine
{
	background-image:url(../Images/bottom-pattern.gif);
	background-repeat: repeat;
}

.hSeparator
{
	background-image:url(../Images/punktir-line.gif);
	background-repeat:repeat-x;
}

a.button,a:visited.button
{
	background-image:url(../Images/button-usual.gif);
	background-repeat:no-repeat;
	width:70px;
	height:22px;
	display:block;
	text-align:center;
	text-decoration:none;
	font-family:Verdana;
	font-size:10pt;
}

a:hover.button
{
	background-image:url(../Images/button-cursor.gif);
	background-repeat:no-repeat;
	width:70px;
	height:22px;
	display:block;
	text-align:center;
	text-decoration:none;
	font-family:Verdana;
	font-size:10pt;
}   


a.buttonMid,a:visited.buttonMid
{
	background-image:url(../Images/button-usual_mid.gif);
	background-repeat:no-repeat;
	width:90px;
	height:22px;
	display:block;
	text-align:center;
	text-decoration:none;
	font-family:Verdana;
	font-size:10pt;
}

a:hover.buttonMid
{
	background-image:url(../Images/button-cursor_mid.gif);
	background-repeat:no-repeat;
	width:90px;
	height:22px;
	display:block;
	text-align:center;
	text-decoration:none;
	font-family:Verdana;
	font-size:10pt;
}   
    
a.buttonBig,a:visited.buttonBig
{
	background-image:url(../Images/button-usual_big.gif);
	background-repeat:no-repeat;
	width:116px;
	height:22px;
	display:block;
	text-align:center;
	text-decoration:none;
	font-family:Verdana;
	font-size:10pt;
}

a:hover.buttonBig
{
	background-image:url(../Images/button-cursor_big.gif);
	background-repeat:no-repeat;
	width:116px;
	height:22px;
	display:block;
	text-align:center;
	text-decoration:none;
	font-family:Verdana;
	font-size:10pt;
}   

.editBox
{
	border:1px solid #373c3f;
	background-color:#faf9f8;
	color:#046294;
	font-family:Verdana;
	font-size:10pt;
	vertical-align:middle;	
	text-align:left;	
	height:20px;
	width:300px;
}

.listBox
{
	border:1px solid #373c3f;
	background-color:#faf9f8;
	color:#046294;
	font-family:Verdana;
	font-size:10pt;
	vertical-align:middle;	
	text-align:left;	
	height:118px;
	width:230px;
}

.checkBoxList
{
	height:70px;
	overflow-y:scroll;
	border:1px solid #373c3f;
	background-color:#faf9f8;
}

.smallCheckBoxList
{
	height:70px;
	overflow-y:scroll;
	border:1px solid #373c3f;
	background-color:#faf9f8;
	width:420px;
}

.controls td
{
	color:#046294;
	font-family:Verdana;
	font-size:8pt;
	vertical-align:middle;	
}

.controls *
{
	vertical-align:middle;	
}
        
.underlineLabel
{
	background-image:url(../Images/punktir-line.gif);
	background-repeat:repeat-x;
	background-position:bottom;	
	vertical-align:middle;
}

.saveImg 
{
	background-image:url(../Images/icon-save.gif);
	background-position:right center;
	background-repeat:no-repeat;
	width:120px;
	text-align:left;
}        

.arrowIcon
{
	vertical-align:middle;
	padding-bottom:0px;
}

.underLabel
{
	text-transform: uppercase;
	font-weight: bold;
	background-image:url(../Images/punktir-line.gif);
	background-repeat:repeat-x;
	background-position:bottom;	
	vertical-align:middle;
	white-space:nowrap;
}

.tableInfo
{
	margin: 20px 0px 0px 0px;
	padding: 0px 0px 0px 10px;
	width: 100%
}

.titleRowHeight
{
	height:40px;
}

.dummySpace
{
	width:25px;
}

.tabStrip
{
	background-color: #ECE9E4;
	border-bottom-color:#999999;
	border-bottom-style:solid;
	border-bottom-width:1px;
	padding-bottom:0px;	
}

.tabStripNormalStyle
{
	padding-left: 3px;
	padding-right: 3px;	
	margin: 0px 0px 0px 0px;
	height: 25px;
	border-top: #C5C4C0 1px solid;
	border-right: #C5C4C0 1px solid;
	border-left: #C5C4C0 1px solid;
}

.tabStripNormalStyle a
{
	white-space:nowrap;
	text-decoration:none;
	font-family:Verdana;
	font-size:10pt;	
	color: #3b3c37;	
}

.tabStripNormalStyle a:focus, a:active
{
    outline: 0; 
	text-decoration:none;
	color: blue;
	border: 0px none;	
}


.tabStripNormalStyle a[disabled]
{
	white-space:nowrap;
	text-decoration:none;
	font-family:Verdana;
	font-size:10pt;	
	color: #8b8c87;	
}


.tabStripSelectedStyle
{
	margin: 0px 0px 0px 0px;
	padding-left: 3px;
	padding-right: 3px;
	
	position: relative;
	top: 1px;
	background-color: white;
	height: 25px;
	border-top: #555555 1px solid;
	border-right: #555555 1px solid;
	border-left: #555555 1px solid;
}

.tabStripFrame
{
    border-color:#999999;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 5px 0px;
	border-width: 0px 1px 1px 1px;
	border-style: none solid solid solid;
}

.tabStripFrameNoBorder
{
    border-color:#999999;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 5px 0px;
	border-width: 0px 0px 0px 0px;
	border-style: none none none none;
}

.filterRowHeight
{
	height:20px;
}

.tableDetails
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 10px;
	width: 100%
}


.subMenuBtn tr
{
	width:250px;
	/*height:42px;*/
	text-align:left;
	vertical-align:middle;
}
.subMenuBtn
{
	margin-top:30px;
}

.subMenuBtn td
{
    vertical-align: middle;
	width:200px;
	white-space: normal !important;
	padding-left: 20px;
}

.subMenuBtn a
{
    height: 42px;
	text-decoration:none;
	font-family:Verdana;
	text-transform: uppercase;
	font-weight:bold;	
	font-size:10pt;
	color:#373c3f;
	width:200px;
    white-space: normal !important;
}

.subMenuBtnSelected tr
{
	background-image:url(../Images/left-menu-bullet.gif);
	background-repeat:no-repeat;
	background-position: left center;
/*	width:200px;
	height:42px;
	display:block;
	text-align:left;
	vertical-align:middle;
	
	font-family:Verdana;
	text-transform: uppercase;
	font-weight:bold;	
	font-size:10pt;
	color:#373c3f;
	line-height:42px;*/
}

.subMenuBtnSelected a
{
	font-weight:bold;	
	text-decoration:underline;
}


.subMenuBtnHover a
{
	text-decoration:underline;
	font-weight:bold;	
}

.reportImg 
{
	background-image:url(../Images/icon-01.gif);
	background-position:right;
	background-repeat:no-repeat;
	width:120px;
	text-align:left;
}

.editBoxTimePeriod
{
	border:1px solid #373c3f;
    background-color:#faf9f8;
    color:#046294;
    font-family:Verdana;
    font-size:10pt;
    vertical-align:middle;	
    text-align:left;	
    height:20px;
    width:100px;
}

.timePeriodRowHeight
{
	height:60px;
} 

.menuItemSpace
{
    margin-bottom:50px;
    float:right;
}  