<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="managementConnectionString" value="Server=localhost;Port=5253;Database=pw_management;User ID=postgres;Password=12345"/>
  <add key="logsConnectionString" value="Server=localhost;Port=5253;Database=pw_logs;User ID=postgres;Password=12345"/>
  <add key="analysisConnectionString" value="Server=localhost;Port=5253;Database=pw_analysis;User ID=postgres;Password=12345"/>
</appSettings>