<Settings>
  <RootFileSystem Type="RootFileSystem" FullType="EditorLib.IO.RootFileSystem" Version="2">
    <EditorLib.IO.WinFileSystem write="true">
      <fileSystemRoot>../Data/</fileSystemRoot>
    </EditorLib.IO.WinFileSystem>
  </RootFileSystem>
  <EditorLib.Scripts.ScriptsConfig...EditorLib Type="ScriptsConfig" FullType="EditorLib.Scripts.ScriptsConfig">
    <scripts />
  </EditorLib.Scripts.ScriptsConfig...EditorLib>
</Settings>