<Settings>
  <EditorPlugins.ObjectLayers.ObjectLayersConfig...EditorPlugins Type="ObjectLayersConfig" FullType="EditorPlugins.ObjectLayers.ObjectLayersConfig">
    <Presets>
      <Item>
        <EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
          <Enabled>True</Enabled>
          <Name>all</Name>
          <Paths>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
          </Paths>
          <ScriptGroupName>
          </ScriptGroupName>
          <Selectable>True</Selectable>
          <Types />
        </EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
      </Item>
      <Item>
        <EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
          <Enabled>True</Enabled>
          <Name>Technical - Misc</Name>
          <Paths>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Tech/</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
          </Paths>
          <ScriptGroupName>
          </ScriptGroupName>
          <Selectable>True</Selectable>
          <Types>
            <Item>DBTypes.AdvMapCameraSpline...PF_Types.DBTypes</Item>
            <Item>DBTypes.AdvMapCreep...PF_Types.DBTypes</Item>
            <Item>DBTypes.AdvMapCreepSpawner...PF_Types.DBTypes</Item>
            <Item>DBTypes.AdvMapNeutralCreepSpawner...PF_Types.DBTypes</Item>
            <Item>DBTypes.AdvMapWaterZone...PF_Types.DBTypes</Item>
            <Item>DBTypes.BaseCreepSpawner...PF_Types.DBTypes</Item>
            <Item>DBTypes.BaseHero...PF_Types.DBTypes</Item>
            <Item>DBTypes.BasePet...PF_Types.DBTypes</Item>
            <Item>DBTypes.Creature...PF_Types.DBTypes</Item>
            <Item>DBTypes.Critter...PF_Types.DBTypes</Item>
            <Item>DBTypes.GlyphSpawner...PF_Types.DBTypes</Item>
            <Item>DBTypes.Hero...PF_Types.DBTypes</Item>
            <Item>DBTypes.HeroPlaceHolder...PF_Types.DBTypes</Item>
            <Item>DBTypes.ScriptAreaGameObject...Types.DBTypes</Item>
            <Item>DBTypes.Unit...PF_Types.DBTypes</Item>
            <Item>DBTypes.AdvMapObstacle...PF_Types.DBTypes</Item>
          </Types>
        </EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
      </Item>
      <Item>
        <EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
          <Enabled>False</Enabled>
          <Name>Environment - Effects</Name>
          <Paths>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Effects/Environment/</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Terrain/Water/Bubble</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Terrain/Water/Fish</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Terrain/Water/Snake</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Terrain/Water/Water</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Terrain/Locations/RiverStep/_FX</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Terrain/Water/WhiteHorse</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
          </Paths>
          <ScriptGroupName>
          </ScriptGroupName>
          <Selectable>False</Selectable>
          <Types />
        </EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
      </Item>
      <Item>
        <EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
          <Enabled>True</Enabled>
          <Name>Environment - Water</Name>
          <Paths>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Terrain/Water/_River</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Terrain/Water/_BaseA</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Terrain/Water/_BaseB</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Terrain/Water/_Plane</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Terrain/Water/_Tutor</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Terrain/Swamp/</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
          </Paths>
          <ScriptGroupName>
          </ScriptGroupName>
          <Selectable>False</Selectable>
          <Types>
            <Item>DBTypes.SimpleObject...PF_Types.DBTypes</Item>
          </Types>
        </EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
      </Item>
      <Item>
        <EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
          <Enabled>True</Enabled>
          <Name>Environment - Roads</Name>
          <Paths />
          <ScriptGroupName>
          </ScriptGroupName>
          <Selectable>False</Selectable>
          <Types>
            <Item>DBTypes.Road...Types.DBTypes</Item>
          </Types>
        </EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
      </Item>
      <Item>
        <EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
          <Enabled>True</Enabled>
          <Name>Nature - Stubs</Name>
          <Paths>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Terrain/Trees/</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
          </Paths>
          <ScriptGroupName>
          </ScriptGroupName>
          <Selectable>True</Selectable>
          <Types>
            <Item>DBTypes.MultiStateObject...PF_Types.DBTypes</Item>
          </Types>
        </EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
      </Item>
      <Item>
        <EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
          <Enabled>True</Enabled>
          <Name>Nature - Trees</Name>
          <Paths>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Terrain/Trees/</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
          </Paths>
          <ScriptGroupName>
          </ScriptGroupName>
          <Selectable>True</Selectable>
          <Types>
            <Item>DBTypes.SimpleObject...PF_Types.DBTypes</Item>
            <Item>DBTypes.TreeObject...PF_Types.DBTypes</Item>
          </Types>
        </EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
      </Item>
      <Item>
        <EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
          <Enabled>True</Enabled>
          <Name>Nature - Bushes</Name>
          <Paths>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Terrain/Water/Canes</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Terrain/Water/Lilies</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Terrain/Bushes/</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Terrain/Grass/</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
          </Paths>
          <ScriptGroupName>
          </ScriptGroupName>
          <Selectable>True</Selectable>
          <Types>
            <Item>DBTypes.MultiStateObject...PF_Types.DBTypes</Item>
            <Item>DBTypes.SimpleObject...PF_Types.DBTypes</Item>
          </Types>
        </EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
      </Item>
      <Item>
        <EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
          <Enabled>True</Enabled>
          <Name>Nature - Stones</Name>
          <Paths>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Terrain/Stones/</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
          </Paths>
          <ScriptGroupName>
          </ScriptGroupName>
          <Selectable>True</Selectable>
          <Types>
            <Item>DBTypes.MultiStateObject...PF_Types.DBTypes</Item>
            <Item>DBTypes.SimpleObject...PF_Types.DBTypes</Item>
          </Types>
        </EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
      </Item>
      <Item>
        <EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
          <Enabled>True</Enabled>
          <Name>Objects - Minor</Name>
          <Paths>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Terrain/Minor/</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
          </Paths>
          <ScriptGroupName>
          </ScriptGroupName>
          <Selectable>True</Selectable>
          <Types>
            <Item>DBTypes.MultiStateObject...PF_Types.DBTypes</Item>
            <Item>DBTypes.SingleStateObject...PF_Types.DBTypes</Item>
          </Types>
        </EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
      </Item>
      <Item>
        <EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
          <Enabled>True</Enabled>
          <Name>Objects - Signs</Name>
          <Paths>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Terrain/Signs/</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
          </Paths>
          <ScriptGroupName>
          </ScriptGroupName>
          <Selectable>True</Selectable>
          <Types>
            <Item>DBTypes.MultiStateObject...PF_Types.DBTypes</Item>
            <Item>DBTypes.SingleStateObject...PF_Types.DBTypes</Item>
          </Types>
        </EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
      </Item>
      <Item>
        <EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
          <Enabled>True</Enabled>
          <Name>Objects - Ruins</Name>
          <Paths>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Terrain/Ruins/</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
          </Paths>
          <ScriptGroupName>
          </ScriptGroupName>
          <Selectable>True</Selectable>
          <Types>
            <Item>DBTypes.MultiStateObject...PF_Types.DBTypes</Item>
          </Types>
        </EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
      </Item>
      <Item>
        <EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
          <Enabled>True</Enabled>
          <Name>Objects - Totems</Name>
          <Paths>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Terrain/Totems/</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
          </Paths>
          <ScriptGroupName>
          </ScriptGroupName>
          <Selectable>True</Selectable>
          <Types />
        </EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
      </Item>
      <Item>
        <EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
          <Enabled>True</Enabled>
          <Name>Objects - Signposts</Name>
          <Paths>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Terrain/Signposts/</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
          </Paths>
          <ScriptGroupName>
          </ScriptGroupName>
          <Selectable>True</Selectable>
          <Types />
        </EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
      </Item>
      <Item>
        <EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
          <Enabled>True</Enabled>
          <Name>Objects - Locations</Name>
          <Paths>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Terrain/Locations/RiverStep/_1</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Terrain/Locations/RiverStep/_0</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Terrain/Locations/Mountains/</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Terrain/Locations/LairCTF/</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Terrain/Locations/Lair/</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
          </Paths>
          <ScriptGroupName>
          </ScriptGroupName>
          <Selectable>True</Selectable>
          <Types />
        </EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
      </Item>
      <Item>
        <EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
          <Enabled>True</Enabled>
          <Name>TowersLines</Name>
          <Paths>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Maps/Multiplayer/MOBA/Towers/</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Terrain/BaseA/BottomTower</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
          </Paths>
          <ScriptGroupName>
          </ScriptGroupName>
          <Selectable>True</Selectable>
          <Types>
            <Item>DBTypes.Tower...PF_Types.DBTypes</Item>
            <Item>DBTypes.SimpleObject...PF_Types.DBTypes</Item>
          </Types>
        </EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
      </Item>
      <Item>
        <EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
          <Enabled>True</Enabled>
          <Name>BaseA</Name>
          <Paths />
          <ScriptGroupName>baseA</ScriptGroupName>
          <Selectable>True</Selectable>
          <Types>
            <Item>DBTypes.AdvMapCameraSpline...PF_Types.DBTypes</Item>
            <Item>DBTypes.AdvMapCreep...PF_Types.DBTypes</Item>
            <Item>DBTypes.AdvMapCreepSpawner...PF_Types.DBTypes</Item>
            <Item>DBTypes.AdvMapNeutralCreepSpawner...PF_Types.DBTypes</Item>
            <Item>DBTypes.AdvMapObstacle...PF_Types.DBTypes</Item>
            <Item>DBTypes.AdvMapWaterZone...PF_Types.DBTypes</Item>
            <Item>DBTypes.BaseCreepSpawner...PF_Types.DBTypes</Item>
            <Item>DBTypes.BaseHero...PF_Types.DBTypes</Item>
            <Item>DBTypes.BasePet...PF_Types.DBTypes</Item>
            <Item>DBTypes.BattleBuilding...PF_Types.DBTypes</Item>
            <Item>DBTypes.Building...PF_Types.DBTypes</Item>
            <Item>DBTypes.ControllableTower...PF_Types.DBTypes</Item>
            <Item>DBTypes.Creature...PF_Types.DBTypes</Item>
            <Item>DBTypes.Critter...PF_Types.DBTypes</Item>
            <Item>DBTypes.Flagpole...PF_Types.DBTypes</Item>
            <Item>DBTypes.Fountain...PF_Types.DBTypes</Item>
            <Item>DBTypes.GameObject...Types.DBTypes</Item>
            <Item>DBTypes.GlyphSpawner...PF_Types.DBTypes</Item>
            <Item>DBTypes.Hero...PF_Types.DBTypes</Item>
            <Item>DBTypes.HeroPlaceHolder...PF_Types.DBTypes</Item>
            <Item>DBTypes.MainBuilding...PF_Types.DBTypes</Item>
            <Item>DBTypes.MinigamePlace...PF_Types.DBTypes</Item>
            <Item>DBTypes.MultiStateObject...PF_Types.DBTypes</Item>
            <Item>DBTypes.Quarter...PF_Types.DBTypes</Item>
            <Item>DBTypes.Road...Types.DBTypes</Item>
            <Item>DBTypes.ScriptAreaGameObject...Types.DBTypes</Item>
            <Item>DBTypes.ScriptPath...Types.DBTypes</Item>
            <Item>DBTypes.Shop...PF_Types.DBTypes</Item>
            <Item>DBTypes.SimpleObject...PF_Types.DBTypes</Item>
            <Item>DBTypes.SingleStateObject...PF_Types.DBTypes</Item>
            <Item>DBTypes.Summoned...PF_Types.DBTypes</Item>
            <Item>DBTypes.Tower...PF_Types.DBTypes</Item>
            <Item>DBTypes.TreeObject...PF_Types.DBTypes</Item>
            <Item>DBTypes.Unit...PF_Types.DBTypes</Item>
            <Item>DBTypes.UsableBuilding...PF_Types.DBTypes</Item>
            <Item>DBTypes.WarFogUnblock...PF_Types.DBTypes</Item>
          </Types>
        </EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
      </Item>
      <Item>
        <EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
          <Enabled>True</Enabled>
          <Name>BaseB</Name>
          <Paths />
          <ScriptGroupName>baseB</ScriptGroupName>
          <Selectable>True</Selectable>
          <Types>
            <Item>DBTypes.AdvMapCameraSpline...PF_Types.DBTypes</Item>
            <Item>DBTypes.AdvMapCreep...PF_Types.DBTypes</Item>
            <Item>DBTypes.AdvMapCreepSpawner...PF_Types.DBTypes</Item>
            <Item>DBTypes.AdvMapNeutralCreepSpawner...PF_Types.DBTypes</Item>
            <Item>DBTypes.AdvMapObstacle...PF_Types.DBTypes</Item>
            <Item>DBTypes.AdvMapWaterZone...PF_Types.DBTypes</Item>
            <Item>DBTypes.BaseCreepSpawner...PF_Types.DBTypes</Item>
            <Item>DBTypes.BaseHero...PF_Types.DBTypes</Item>
            <Item>DBTypes.BasePet...PF_Types.DBTypes</Item>
            <Item>DBTypes.BattleBuilding...PF_Types.DBTypes</Item>
            <Item>DBTypes.Building...PF_Types.DBTypes</Item>
            <Item>DBTypes.ControllableTower...PF_Types.DBTypes</Item>
            <Item>DBTypes.Creature...PF_Types.DBTypes</Item>
            <Item>DBTypes.Critter...PF_Types.DBTypes</Item>
            <Item>DBTypes.Flagpole...PF_Types.DBTypes</Item>
            <Item>DBTypes.Fountain...PF_Types.DBTypes</Item>
            <Item>DBTypes.GameObject...Types.DBTypes</Item>
            <Item>DBTypes.GlyphSpawner...PF_Types.DBTypes</Item>
            <Item>DBTypes.Hero...PF_Types.DBTypes</Item>
            <Item>DBTypes.HeroPlaceHolder...PF_Types.DBTypes</Item>
            <Item>DBTypes.MainBuilding...PF_Types.DBTypes</Item>
            <Item>DBTypes.MinigamePlace...PF_Types.DBTypes</Item>
            <Item>DBTypes.MultiStateObject...PF_Types.DBTypes</Item>
            <Item>DBTypes.Quarter...PF_Types.DBTypes</Item>
            <Item>DBTypes.Road...Types.DBTypes</Item>
            <Item>DBTypes.ScriptAreaGameObject...Types.DBTypes</Item>
            <Item>DBTypes.ScriptPath...Types.DBTypes</Item>
            <Item>DBTypes.Shop...PF_Types.DBTypes</Item>
            <Item>DBTypes.SimpleObject...PF_Types.DBTypes</Item>
            <Item>DBTypes.SingleStateObject...PF_Types.DBTypes</Item>
            <Item>DBTypes.Summoned...PF_Types.DBTypes</Item>
            <Item>DBTypes.Tower...PF_Types.DBTypes</Item>
            <Item>DBTypes.TreeObject...PF_Types.DBTypes</Item>
            <Item>DBTypes.Unit...PF_Types.DBTypes</Item>
            <Item>DBTypes.UsableBuilding...PF_Types.DBTypes</Item>
            <Item>DBTypes.WarFogUnblock...PF_Types.DBTypes</Item>
          </Types>
        </EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
      </Item>
      <Item>
        <EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
          <Enabled>True</Enabled>
          <Name>Base Env</Name>
          <Paths>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Terrain/BaseA/</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Terrain/BaseB/</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
          </Paths>
          <ScriptGroupName>
          </ScriptGroupName>
          <Selectable>True</Selectable>
          <Types>
            <Item>DBTypes.MultiStateObject...PF_Types.DBTypes</Item>
            <Item>DBTypes.SimpleObject...PF_Types.DBTypes</Item>
          </Types>
        </EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
      </Item>
      <Item>
        <EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
          <Enabled>True</Enabled>
          <Name>Base Buildings</Name>
          <Paths>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Buildings/Flagstaff/</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Buildings/B/</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Buildings/A/</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Maps/Multiplayer/</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
          </Paths>
          <ScriptGroupName>
          </ScriptGroupName>
          <Selectable>True</Selectable>
          <Types>
            <Item>DBTypes.Tower...PF_Types.DBTypes</Item>
            <Item>DBTypes.MainBuilding...PF_Types.DBTypes</Item>
            <Item>DBTypes.BattleBuilding...PF_Types.DBTypes</Item>
            <Item>DBTypes.Building...PF_Types.DBTypes</Item>
            <Item>DBTypes.UsableBuilding...PF_Types.DBTypes</Item>
            <Item>DBTypes.Quarter...PF_Types.DBTypes</Item>
            <Item>DBTypes.Fountain...PF_Types.DBTypes</Item>
            <Item>DBTypes.Shop...PF_Types.DBTypes</Item>
            <Item>DBTypes.MinigamePlace...PF_Types.DBTypes</Item>
            <Item>DBTypes.Flagpole...PF_Types.DBTypes</Item>
          </Types>
        </EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
      </Item>
      <Item>
        <EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
          <Enabled>True</Enabled>
          <Name>waterfall</Name>
          <Paths />
          <ScriptGroupName>waterfall</ScriptGroupName>
          <Selectable>True</Selectable>
          <Types>
            <Item>DBTypes.SimpleObject...PF_Types.DBTypes</Item>
            <Item>DBTypes.MultiStateObject...PF_Types.DBTypes</Item>
            <Item>DBTypes.TreeObject...PF_Types.DBTypes</Item>
            <Item>DBTypes.Road...Types.DBTypes</Item>
          </Types>
        </EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
      </Item>
      <Item>
        <EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
          <Enabled>True</Enabled>
          <Name>Mission1</Name>
          <Paths />
          <ScriptGroupName>Mission1</ScriptGroupName>
          <Selectable>True</Selectable>
          <Types />
        </EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
      </Item>
      <Item>
        <EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
          <Enabled>True</Enabled>
          <Name>Mission2</Name>
          <Paths />
          <ScriptGroupName>Mission2</ScriptGroupName>
          <Selectable>True</Selectable>
          <Types />
        </EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
      </Item>
      <Item>
        <EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
          <Enabled>True</Enabled>
          <Name>CTE Spawners</Name>
          <Paths>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Maps/Multiplayer/MOBA/</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
            <Item>
              <EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
                <Path>/Terrain/Huts/</Path>
              </EditorPlugins.ObjectLayers.ObjectLayersPath...EditorPlugins>
            </Item>
          </Paths>
          <ScriptGroupName>
          </ScriptGroupName>
          <Selectable>True</Selectable>
          <Types>
            <Item>DBTypes.AdvMapNeutralCreepSpawner...PF_Types.DBTypes</Item>
            <Item>DBTypes.SimpleObject...PF_Types.DBTypes</Item>
            <Item>DBTypes.MultiStateObject...PF_Types.DBTypes</Item>
          </Types>
        </EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
      </Item>
      <Item>
        <EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
          <Enabled>True</Enabled>
          <Name>roadBorder</Name>
          <Paths />
          <ScriptGroupName>roadBorder</ScriptGroupName>
          <Selectable>True</Selectable>
          <Types>
            <Item>DBTypes.Road...Types.DBTypes</Item>
          </Types>
        </EditorPlugins.ObjectLayers.ObjectLayersPreset...EditorPlugins>
      </Item>
    </Presets>
  </EditorPlugins.ObjectLayers.ObjectLayersConfig...EditorPlugins>
</Settings>