<Settings>
  <RootFileSystem Type="RootFileSystem" FullType="EditorLib.IO.RootFileSystem" Version="2">
    <EditorLib.IO.SVNFileSystem write="true">
      <fileSystemRoot>../Data/</fileSystemRoot>
      <SVNRepositoryUrl>https://svn.SITE/pw/trunk/Data/</SVNRepositoryUrl>
    </EditorLib.IO.SVNFileSystem>
  </RootFileSystem>
  <EditorLib.Scripts.ScriptsConfig...EditorLib Type="ScriptsConfig" FullType="EditorLib.Scripts.ScriptsConfig">
    <scripts>
      <Item>../Tools/Scripts/EventsSelector.cs</Item>
      <Item>../Tools/Scripts/FixAGSpeed.cs</Item>
      <Item>../Tools/Scripts/SourceFilesChecker.cs</Item>
      <Item>../Tools/Scripts/RemoveUnusedFiles.cs</Item>
      <Item>../Tools/Scripts/ExstensionFixer.cs</Item>
      <Item>../Tools/Scripts/CheckGFXTextureSourceNames.cs</Item>
      <Item>../Tools/Scripts/ValidateBackLinks.cs</Item>
      <Item>../Tools/Scripts/ModifiedSceneFilesChecker.cs</Item>
      <Item>../Tools/Scripts/RescaleMinigame.cs</Item>
      <Item>../Tools/Scripts/ModifiedSourceFilesChecker.cs</Item>
      <Item>../Tools/Scripts/StoreDescriptions.cs</Item>
      <Item>../Tools/Scripts/ImportDescriptions.cs</Item>
      <Item>../Tools/Scripts/FixRandomNodes.cs</Item>
      <Item>../Tools/Scripts/RemoveSharpness.cs</Item>
      <Item>../Tools/Scripts/ReturnShadows.cs</Item>
      <Item>../Tools/Scripts/UpdateFontStylesInUIRoot.cs</Item>
      <Item>../Tools/Scripts/DupNode.cs</Item>
      <Item>../Tools/Scripts/UpdateAmulets.cs</Item>
      <Item>../Tools/Scripts/FixNodesDuration.cs</Item>
      <Item>../Tools/Scripts/DeleteUnusedUITextures.cs</Item>
      <Item>../Tools/Scripts/FixNextNode.cs</Item>
      <Item>../Tools/Scripts/FindBrokenMaterials.cs</Item>
      <Item>../Tools/Scripts/CheckAnimCurves.cs</Item>
      <Item>../Tools/Scripts/CheckAttackWorkingTime.cs</Item>
      <Item>../Tools/Scripts/CopyRelatedXdb.cs</Item>
      <Item>../Tools/Scripts/FindBrokenAnimCurves.cs</Item>
      <Item>../Tools/Scripts/ObjectSearch.cs</Item>
      <Item>../Tools/Scripts/FixTalentsAnimation.cs</Item>
      <Item>../Tools/Scripts/SetWorkTimeMarkers.cs</Item>
      <Item>../Tools/Scripts/SoundAtoB.cs</Item>
      <Item>../Tools/Scripts/FixNodesMinFrom.cs</Item>
      <Item>../Tools/Scripts/AddNewAGTransaction.cs</Item>
      <Item>../Tools/Scripts/ResetHeroTalentSet.cs</Item>
      <Item>../Tools/Scripts/DeleteUnusedGFXTextures.cs</Item>
      <Item>../Tools/Scripts/RestoreTerrainPatches.cs</Item>
      <Item>../Tools/Scripts/CheckBadTextureSize.cs</Item>
      <Item>../Tools/Scripts/CollectFormulas.cs</Item>
    </scripts>
  </EditorLib.Scripts.ScriptsConfig...EditorLib>
  <EditorPlugins.Scene.DebugVarsFilterConfig...EditorPlugins Type="DebugVarsFilterConfig" FullType="EditorPlugins.Scene.DebugVarsFilterConfig">
    <CommonDebugVars>
      <Item>DIPsScene</Item>
      <Item>PFX_Count</Item>
      <Item>PFX_CountAvg</Item>
      <Item>TrisScene</Item>
    </CommonDebugVars>
  </EditorPlugins.Scene.DebugVarsFilterConfig...EditorPlugins>
</Settings>