<Settings>
  <DefaultScenePreset Type="DefaultScenePreset" FullType="EditorPlugins.Scene.Presets.DefaultScenePreset">
    <EditorPlugins.Scene.Presets.DefaultScenePreset...EditorPlugins>
      <Components />
      <Distance>60</Distance>
      <Effects />
      <EnableCameraEffects>True</EnableCameraEffects>
      <LightResource href="/Tech/Ambient.LTEN" />
      <Recolor>
        <DBTypes.HDRColor...Types.DBTypes>
          <A>0</A>
          <B>0</B>
          <G>0</G>
          <R>0</R>
        </DBTypes.HDRColor...Types.DBTypes>
      </Recolor>
      <Speed>0</Speed>
      <spyCamera>True</spyCamera>
      <TimeToDeath>0</TimeToDeath>
    </EditorPlugins.Scene.Presets.DefaultScenePreset...EditorPlugins>
    <Item>
      <Key>Female</Key>
      <EditorPlugins.Scene.Presets.DefaultScenePreset...EditorPlugins>
        <Components>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
              <ComponentResource href="/Tech/TerrainA.SOBJ" />
              <IsTerrainLike>True</IsTerrainLike>
              <Locator>None</Locator>
              <Placement>
                <DBTypes.Placement2...Types.DBTypes>
                  <rotationX>0</rotationX>
                  <rotationY>0</rotationY>
                  <rotationZ>0</rotationZ>
                  <scaleX>1</scaleX>
                  <scaleY>1</scaleY>
                  <scaleZ>1</scaleZ>
                  <translateX>0</translateX>
                  <translateY>0</translateY>
                  <translateZ>0</translateZ>
                </DBTypes.Placement2...Types.DBTypes>
              </Placement>
            </EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
          </Item>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
              <ComponentResource href="/Heroes/Healer/_A.SOBJ" />
              <IsTerrainLike>False</IsTerrainLike>
              <Locator>None</Locator>
              <Placement>
                <DBTypes.Placement2...Types.DBTypes>
                  <rotationX>0</rotationX>
                  <rotationY>0</rotationY>
                  <rotationZ>0</rotationZ>
                  <scaleX>1</scaleX>
                  <scaleY>1</scaleY>
                  <scaleZ>1</scaleZ>
                  <translateX>0</translateX>
                  <translateY>0</translateY>
                  <translateZ>0</translateZ>
                </DBTypes.Placement2...Types.DBTypes>
              </Placement>
            </EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
          </Item>
        </Components>
        <Distance>0</Distance>
        <Effects />
        <EnableCameraEffects>True</EnableCameraEffects>
        <LightResource href="/Maps/Multiplayer/PFmap/_.LTEN" />
        <Recolor>
          <DBTypes.HDRColor...Types.DBTypes>
            <A>0</A>
            <B>0</B>
            <G>0</G>
            <R>0</R>
          </DBTypes.HDRColor...Types.DBTypes>
        </Recolor>
        <Speed>0</Speed>
        <spyCamera>True</spyCamera>
        <TimeToDeath>0</TimeToDeath>
      </EditorPlugins.Scene.Presets.DefaultScenePreset...EditorPlugins>
    </Item>
    <Item>
      <Key>LocatorsTestBuilding</Key>
      <EditorPlugins.Scene.Presets.DefaultScenePreset...EditorPlugins>
        <Components>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
              <ComponentResource href="/Tech/TerrainA.SOBJ" />
              <IsTerrainLike>True</IsTerrainLike>
              <Locator>None</Locator>
              <Placement>
                <DBTypes.Placement2...Types.DBTypes>
                  <rotationX>0</rotationX>
                  <rotationY>0</rotationY>
                  <rotationZ>0</rotationZ>
                  <scaleX>1</scaleX>
                  <scaleY>1</scaleY>
                  <scaleZ>1</scaleZ>
                  <translateX>0</translateX>
                  <translateY>0</translateY>
                  <translateZ>0</translateZ>
                </DBTypes.Placement2...Types.DBTypes>
              </Placement>
            </EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
          </Item>
        </Components>
        <Distance>50</Distance>
        <Effects>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..EffectInfo...EditorPlugins>
              <ComponentResource href="/Effects/UI/Selection/AllySelection.EFFT" />
            </EditorPlugins.Scene.Presets.DefaultScenePreset..EffectInfo...EditorPlugins>
          </Item>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..EffectInfo...EditorPlugins>
              <ComponentResource href="/Effects/Shots/Teeth/_Building.EFFT" />
            </EditorPlugins.Scene.Presets.DefaultScenePreset..EffectInfo...EditorPlugins>
          </Item>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..EffectInfo...EditorPlugins>
              <ComponentResource href="/Effects/Shots/FireBall/_HeavyHitBuilding.EFFT" />
            </EditorPlugins.Scene.Presets.DefaultScenePreset..EffectInfo...EditorPlugins>
          </Item>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..EffectInfo...EditorPlugins>
              <ComponentResource href="/Effects/Shots/Arrow/_BHitBuilding.EFFT" />
            </EditorPlugins.Scene.Presets.DefaultScenePreset..EffectInfo...EditorPlugins>
          </Item>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..EffectInfo...EditorPlugins>
              <ComponentResource href="/Effects/Environment/TerrainDamage/_BFrag.EFFT" />
            </EditorPlugins.Scene.Presets.DefaultScenePreset..EffectInfo...EditorPlugins>
          </Item>
        </Effects>
        <EnableCameraEffects>True</EnableCameraEffects>
        <LightResource href="/Maps/Multiplayer/PFmap/_.LTEN" />
        <Recolor>
          <DBTypes.HDRColor...Types.DBTypes>
            <A>0</A>
            <B>0</B>
            <G>0</G>
            <R>0</R>
          </DBTypes.HDRColor...Types.DBTypes>
        </Recolor>
        <Speed>0</Speed>
        <spyCamera>True</spyCamera>
        <TimeToDeath>0</TimeToDeath>
      </EditorPlugins.Scene.Presets.DefaultScenePreset...EditorPlugins>
    </Item>
    <Item>
      <Key>BackgroundA</Key>
      <EditorPlugins.Scene.Presets.DefaultScenePreset...EditorPlugins>
        <Components>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
              <ComponentResource href="/Tech/TerrainA.SOBJ" />
              <IsTerrainLike>True</IsTerrainLike>
              <Locator>None</Locator>
              <Placement>
                <DBTypes.Placement2...Types.DBTypes>
                  <rotationX>0</rotationX>
                  <rotationY>0</rotationY>
                  <rotationZ>0</rotationZ>
                  <scaleX>1</scaleX>
                  <scaleY>1</scaleY>
                  <scaleZ>1</scaleZ>
                  <translateX>0</translateX>
                  <translateY>0</translateY>
                  <translateZ>0</translateZ>
                </DBTypes.Placement2...Types.DBTypes>
              </Placement>
            </EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
          </Item>
        </Components>
        <Distance>50</Distance>
        <Effects />
        <EnableCameraEffects>True</EnableCameraEffects>
        <LightResource href="/Maps/Multiplayer/PFmap/_.LTEN" />
        <Recolor>
          <DBTypes.HDRColor...Types.DBTypes>
            <A>1</A>
            <B>1.6</B>
            <G>0.48</G>
            <R>0.536</R>
          </DBTypes.HDRColor...Types.DBTypes>
        </Recolor>
        <Speed>0</Speed>
        <spyCamera>True</spyCamera>
        <TimeToDeath>0</TimeToDeath>
      </EditorPlugins.Scene.Presets.DefaultScenePreset...EditorPlugins>
    </Item>
    <Item>
      <Key>BackgroundB</Key>
      <EditorPlugins.Scene.Presets.DefaultScenePreset...EditorPlugins>
        <Components>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
              <ComponentResource href="/Tech/TerrainB.SOBJ" />
              <IsTerrainLike>True</IsTerrainLike>
              <Locator>None</Locator>
              <Placement>
                <DBTypes.Placement2...Types.DBTypes>
                  <rotationX>0</rotationX>
                  <rotationY>0</rotationY>
                  <rotationZ>0</rotationZ>
                  <scaleX>1</scaleX>
                  <scaleY>1</scaleY>
                  <scaleZ>1</scaleZ>
                  <translateX>0</translateX>
                  <translateY>0</translateY>
                  <translateZ>0</translateZ>
                </DBTypes.Placement2...Types.DBTypes>
              </Placement>
            </EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
          </Item>
        </Components>
        <Distance>50</Distance>
        <Effects />
        <EnableCameraEffects>True</EnableCameraEffects>
        <LightResource href="/Maps/Multiplayer/PFmap/_.LTEN" />
        <Recolor>
          <DBTypes.HDRColor...Types.DBTypes>
            <A>1</A>
            <B>0</B>
            <G>0</G>
            <R>1.399</R>
          </DBTypes.HDRColor...Types.DBTypes>
        </Recolor>
        <Speed>0</Speed>
        <spyCamera>True</spyCamera>
        <TimeToDeath>0</TimeToDeath>
      </EditorPlugins.Scene.Presets.DefaultScenePreset...EditorPlugins>
    </Item>
    <Item>
      <Key>BackgroundN</Key>
      <EditorPlugins.Scene.Presets.DefaultScenePreset...EditorPlugins>
        <Components>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
              <ComponentResource href="/Tech/TerrainN.SOBJ" />
              <IsTerrainLike>True</IsTerrainLike>
              <Locator>None</Locator>
              <Placement>
                <DBTypes.Placement2...Types.DBTypes>
                  <rotationX>0</rotationX>
                  <rotationY>0</rotationY>
                  <rotationZ>0</rotationZ>
                  <scaleX>1</scaleX>
                  <scaleY>1</scaleY>
                  <scaleZ>1</scaleZ>
                  <translateX>0</translateX>
                  <translateY>0</translateY>
                  <translateZ>0</translateZ>
                </DBTypes.Placement2...Types.DBTypes>
              </Placement>
            </EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
          </Item>
        </Components>
        <Distance>50</Distance>
        <Effects />
        <EnableCameraEffects>True</EnableCameraEffects>
        <LightResource href="/Maps/Multiplayer/PFmap/_.LTEN" />
        <Recolor>
          <DBTypes.HDRColor...Types.DBTypes>
            <A>1</A>
            <B>0.53</B>
            <G>1.157</G>
            <R>1.631</R>
          </DBTypes.HDRColor...Types.DBTypes>
        </Recolor>
        <Speed>0</Speed>
        <spyCamera>True</spyCamera>
        <TimeToDeath>0</TimeToDeath>
      </EditorPlugins.Scene.Presets.DefaultScenePreset...EditorPlugins>
    </Item>
    <Item>
      <Key>Water</Key>
      <EditorPlugins.Scene.Presets.DefaultScenePreset...EditorPlugins>
        <Components>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
              <ComponentResource href="/Tech/TerrainN.SOBJ" />
              <IsTerrainLike>True</IsTerrainLike>
              <Locator>None</Locator>
              <Placement>
                <DBTypes.Placement2...Types.DBTypes>
                  <rotationX>0</rotationX>
                  <rotationY>0</rotationY>
                  <rotationZ>0</rotationZ>
                  <scaleX>1</scaleX>
                  <scaleY>1</scaleY>
                  <scaleZ>1</scaleZ>
                  <translateX>0</translateX>
                  <translateY>0</translateY>
                  <translateZ>0</translateZ>
                </DBTypes.Placement2...Types.DBTypes>
              </Placement>
            </EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
          </Item>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
              <ComponentResource href="/Terrain/Water/_Plane.SOBJ" />
              <IsTerrainLike>True</IsTerrainLike>
              <Locator>None</Locator>
              <Placement>
                <DBTypes.Placement2...Types.DBTypes>
                  <rotationX>0</rotationX>
                  <rotationY>0</rotationY>
                  <rotationZ>0</rotationZ>
                  <scaleX>15</scaleX>
                  <scaleY>15</scaleY>
                  <scaleZ>15</scaleZ>
                  <translateX>0</translateX>
                  <translateY>0</translateY>
                  <translateZ>1</translateZ>
                </DBTypes.Placement2...Types.DBTypes>
              </Placement>
            </EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
          </Item>
        </Components>
        <Distance>50</Distance>
        <Effects />
        <EnableCameraEffects>True</EnableCameraEffects>
        <LightResource href="/Maps/Multiplayer/PFmap/_.LTEN" />
        <Recolor>
          <DBTypes.HDRColor...Types.DBTypes>
            <A>0</A>
            <B>0</B>
            <G>0</G>
            <R>0</R>
          </DBTypes.HDRColor...Types.DBTypes>
        </Recolor>
        <Speed>0</Speed>
        <spyCamera>True</spyCamera>
        <TimeToDeath>0</TimeToDeath>
      </EditorPlugins.Scene.Presets.DefaultScenePreset...EditorPlugins>
    </Item>
    <Item>
      <Key>Death</Key>
      <EditorPlugins.Scene.Presets.DefaultScenePreset...EditorPlugins>
        <Components>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
              <ComponentResource href="/Tech/TerrainA.SOBJ" />
              <IsTerrainLike>True</IsTerrainLike>
              <Locator>None</Locator>
              <Placement>
                <DBTypes.Placement2...Types.DBTypes>
                  <rotationX>0</rotationX>
                  <rotationY>0</rotationY>
                  <rotationZ>0</rotationZ>
                  <scaleX>1</scaleX>
                  <scaleY>1</scaleY>
                  <scaleZ>1</scaleZ>
                  <translateX>0</translateX>
                  <translateY>0</translateY>
                  <translateZ>0</translateZ>
                </DBTypes.Placement2...Types.DBTypes>
              </Placement>
            </EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
          </Item>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
              <ComponentResource href="/Effects/General/Death/_TRS.PRXY" />
              <IsTerrainLike>False</IsTerrainLike>
              <Locator>Death</Locator>
              <Placement>
                <DBTypes.Placement2...Types.DBTypes>
                  <rotationX>0</rotationX>
                  <rotationY>0</rotationY>
                  <rotationZ>0</rotationZ>
                  <scaleX>1</scaleX>
                  <scaleY>1</scaleY>
                  <scaleZ>1</scaleZ>
                  <translateX>0</translateX>
                  <translateY>0</translateY>
                  <translateZ>0</translateZ>
                </DBTypes.Placement2...Types.DBTypes>
              </Placement>
            </EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
          </Item>
        </Components>
        <Distance>50</Distance>
        <Effects />
        <EnableCameraEffects>True</EnableCameraEffects>
        <LightResource href="/Maps/Multiplayer/PFmap/_.LTEN" />
        <Recolor>
          <DBTypes.HDRColor...Types.DBTypes>
            <A>0</A>
            <B>0</B>
            <G>0</G>
            <R>0</R>
          </DBTypes.HDRColor...Types.DBTypes>
        </Recolor>
        <Speed>0</Speed>
        <spyCamera>True</spyCamera>
        <TimeToDeath>0</TimeToDeath>
      </EditorPlugins.Scene.Presets.DefaultScenePreset...EditorPlugins>
    </Item>
    <Item>
      <Key>MiniGame2</Key>
      <EditorPlugins.Scene.Presets.DefaultScenePreset...EditorPlugins>
        <Components>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
              <ComponentResource href="/Buildings/B/MiniGame/_.SOBJ" />
              <IsTerrainLike>True</IsTerrainLike>
              <Locator>None</Locator>
              <Placement>
                <DBTypes.Placement2...Types.DBTypes>
                  <rotationX>0</rotationX>
                  <rotationY>0</rotationY>
                  <rotationZ>0</rotationZ>
                  <scaleX>1</scaleX>
                  <scaleY>1</scaleY>
                  <scaleZ>1</scaleZ>
                  <translateX>0</translateX>
                  <translateY>0</translateY>
                  <translateZ>-0.5</translateZ>
                </DBTypes.Placement2...Types.DBTypes>
              </Placement>
            </EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
          </Item>
        </Components>
        <Distance>50</Distance>
        <Effects>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..EffectInfo...EditorPlugins>
              <ComponentResource href="/Buildings/B/MiniGame/FX.EFFT" />
            </EditorPlugins.Scene.Presets.DefaultScenePreset..EffectInfo...EditorPlugins>
          </Item>
        </Effects>
        <EnableCameraEffects>True</EnableCameraEffects>
        <LightResource href="/Maps/Multiplayer/PFmap/_.LTEN" />
        <Recolor>
          <DBTypes.HDRColor...Types.DBTypes>
            <A>0</A>
            <B>0</B>
            <G>0</G>
            <R>0</R>
          </DBTypes.HDRColor...Types.DBTypes>
        </Recolor>
        <Speed>0</Speed>
        <spyCamera>True</spyCamera>
        <TimeToDeath>0</TimeToDeath>
      </EditorPlugins.Scene.Presets.DefaultScenePreset...EditorPlugins>
    </Item>
    <Item>
      <Key>LocatorsTest2</Key>
      <EditorPlugins.Scene.Presets.DefaultScenePreset...EditorPlugins>
        <Components>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
              <ComponentResource href="/Tech/TerrainA.SOBJ" />
              <IsTerrainLike>True</IsTerrainLike>
              <Locator>None</Locator>
              <Placement>
                <DBTypes.Placement2...Types.DBTypes>
                  <rotationX>0</rotationX>
                  <rotationY>0</rotationY>
                  <rotationZ>0</rotationZ>
                  <scaleX>1</scaleX>
                  <scaleY>1</scaleY>
                  <scaleZ>1</scaleZ>
                  <translateX>0</translateX>
                  <translateY>0</translateY>
                  <translateZ>0</translateZ>
                </DBTypes.Placement2...Types.DBTypes>
              </Placement>
            </EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
          </Item>
        </Components>
        <Distance>50</Distance>
        <Effects>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..EffectInfo...EditorPlugins>
              <ComponentResource href="/Effects/Buffs/Increase/_Strength.EFFT" />
            </EditorPlugins.Scene.Presets.DefaultScenePreset..EffectInfo...EditorPlugins>
          </Item>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..EffectInfo...EditorPlugins>
              <ComponentResource href="/Effects/UI/Selection/AllySelection.EFFT" />
            </EditorPlugins.Scene.Presets.DefaultScenePreset..EffectInfo...EditorPlugins>
          </Item>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..EffectInfo...EditorPlugins>
              <ComponentResource href="/Effects/Debuffs/RatsInvasion/Attack.EFFT" />
            </EditorPlugins.Scene.Presets.DefaultScenePreset..EffectInfo...EditorPlugins>
          </Item>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..EffectInfo...EditorPlugins>
              <ComponentResource href="/Effects/Buffs/Defence/_UnstableBlue.EFFT" />
            </EditorPlugins.Scene.Presets.DefaultScenePreset..EffectInfo...EditorPlugins>
          </Item>
        </Effects>
        <EnableCameraEffects>True</EnableCameraEffects>
        <LightResource href="/Maps/Multiplayer/PFmap/_.LTEN" />
        <Recolor>
          <DBTypes.HDRColor...Types.DBTypes>
            <A>0</A>
            <B>0</B>
            <G>0</G>
            <R>0</R>
          </DBTypes.HDRColor...Types.DBTypes>
        </Recolor>
        <Speed>0</Speed>
        <spyCamera>True</spyCamera>
        <TimeToDeath>0</TimeToDeath>
      </EditorPlugins.Scene.Presets.DefaultScenePreset...EditorPlugins>
    </Item>
    <Item>
      <Key>MSOTransaction</Key>
      <EditorPlugins.Scene.Presets.DefaultScenePreset...EditorPlugins>
        <Components>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
              <ComponentResource href="/Tech/TerrainA.SOBJ" />
              <IsTerrainLike>True</IsTerrainLike>
              <Locator>None</Locator>
              <Placement>
                <DBTypes.Placement2...Types.DBTypes>
                  <rotationX>0</rotationX>
                  <rotationY>0</rotationY>
                  <rotationZ>0</rotationZ>
                  <scaleX>1</scaleX>
                  <scaleY>1</scaleY>
                  <scaleZ>1</scaleZ>
                  <translateX>0</translateX>
                  <translateY>0</translateY>
                  <translateZ>0</translateZ>
                </DBTypes.Placement2...Types.DBTypes>
              </Placement>
            </EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
          </Item>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
              <ComponentResource href="/Effects/Environment/MSOTransactions/_A.PRXY" />
              <IsTerrainLike>False</IsTerrainLike>
              <Locator>Ground</Locator>
              <Placement>
                <DBTypes.Placement2...Types.DBTypes>
                  <rotationX>0</rotationX>
                  <rotationY>0</rotationY>
                  <rotationZ>0</rotationZ>
                  <scaleX>1</scaleX>
                  <scaleY>1</scaleY>
                  <scaleZ>1</scaleZ>
                  <translateX>0</translateX>
                  <translateY>0</translateY>
                  <translateZ>0</translateZ>
                </DBTypes.Placement2...Types.DBTypes>
              </Placement>
            </EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
          </Item>
        </Components>
        <Distance>50</Distance>
        <Effects />
        <EnableCameraEffects>True</EnableCameraEffects>
        <LightResource href="/Maps/Multiplayer/PFmap/_.LTEN" />
        <Recolor>
          <DBTypes.HDRColor...Types.DBTypes>
            <A>0</A>
            <B>0</B>
            <G>0</G>
            <R>0</R>
          </DBTypes.HDRColor...Types.DBTypes>
        </Recolor>
        <Speed>0</Speed>
        <spyCamera>True</spyCamera>
        <TimeToDeath>0</TimeToDeath>
      </EditorPlugins.Scene.Presets.DefaultScenePreset...EditorPlugins>
    </Item>
    <Item>
      <Key>LocatorsTest1</Key>
      <EditorPlugins.Scene.Presets.DefaultScenePreset...EditorPlugins>
        <Components>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
              <ComponentResource href="/Tech/TerrainA.SOBJ" />
              <IsTerrainLike>True</IsTerrainLike>
              <Locator>None</Locator>
              <Placement>
                <DBTypes.Placement2...Types.DBTypes>
                  <rotationX>0</rotationX>
                  <rotationY>0</rotationY>
                  <rotationZ>0</rotationZ>
                  <scaleX>1</scaleX>
                  <scaleY>1</scaleY>
                  <scaleZ>1</scaleZ>
                  <translateX>0</translateX>
                  <translateY>0</translateY>
                  <translateZ>0</translateZ>
                </DBTypes.Placement2...Types.DBTypes>
              </Placement>
            </EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
          </Item>
        </Components>
        <Distance>50</Distance>
        <Effects>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..EffectInfo...EditorPlugins>
              <ComponentResource href="/Effects/Debuffs/Blind/_.EFFT" />
            </EditorPlugins.Scene.Presets.DefaultScenePreset..EffectInfo...EditorPlugins>
          </Item>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..EffectInfo...EditorPlugins>
              <ComponentResource href="/Effects/UI/Selection/AllySelection.EFFT" />
            </EditorPlugins.Scene.Presets.DefaultScenePreset..EffectInfo...EditorPlugins>
          </Item>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..EffectInfo...EditorPlugins>
              <ComponentResource href="/Effects/Buffs/SpeedingUp/_MoveAndAttack.EFFT" />
            </EditorPlugins.Scene.Presets.DefaultScenePreset..EffectInfo...EditorPlugins>
          </Item>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..EffectInfo...EditorPlugins>
              <ComponentResource href="/Effects/Shots/MeleeHit/_BFrag.EFFT" />
            </EditorPlugins.Scene.Presets.DefaultScenePreset..EffectInfo...EditorPlugins>
          </Item>
        </Effects>
        <EnableCameraEffects>True</EnableCameraEffects>
        <LightResource href="/Maps/Multiplayer/PFmap/_.LTEN" />
        <Recolor>
          <DBTypes.HDRColor...Types.DBTypes>
            <A>0</A>
            <B>0</B>
            <G>0</G>
            <R>0</R>
          </DBTypes.HDRColor...Types.DBTypes>
        </Recolor>
        <Speed>0</Speed>
        <spyCamera>True</spyCamera>
        <TimeToDeath>0</TimeToDeath>
      </EditorPlugins.Scene.Presets.DefaultScenePreset...EditorPlugins>
    </Item>
    <Item>
      <Key>DeathFemale</Key>
      <EditorPlugins.Scene.Presets.DefaultScenePreset...EditorPlugins>
        <Components>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
              <ComponentResource href="/Tech/TerrainA.SOBJ" />
              <IsTerrainLike>True</IsTerrainLike>
              <Locator>None</Locator>
              <Placement>
                <DBTypes.Placement2...Types.DBTypes>
                  <rotationX>0</rotationX>
                  <rotationY>0</rotationY>
                  <rotationZ>0</rotationZ>
                  <scaleX>1</scaleX>
                  <scaleY>1</scaleY>
                  <scaleZ>1</scaleZ>
                  <translateX>0</translateX>
                  <translateY>0</translateY>
                  <translateZ>0</translateZ>
                </DBTypes.Placement2...Types.DBTypes>
              </Placement>
            </EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
          </Item>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
              <ComponentResource href="/Effects/General/Death/_Female.PRXY" />
              <IsTerrainLike>False</IsTerrainLike>
              <Locator>Death</Locator>
              <Placement>
                <DBTypes.Placement2...Types.DBTypes>
                  <rotationX>0</rotationX>
                  <rotationY>0</rotationY>
                  <rotationZ>0</rotationZ>
                  <scaleX>1</scaleX>
                  <scaleY>1</scaleY>
                  <scaleZ>1</scaleZ>
                  <translateX>0</translateX>
                  <translateY>0</translateY>
                  <translateZ>0</translateZ>
                </DBTypes.Placement2...Types.DBTypes>
              </Placement>
            </EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
          </Item>
        </Components>
        <Distance>50</Distance>
        <Effects />
        <EnableCameraEffects>True</EnableCameraEffects>
        <LightResource href="/Maps/Multiplayer/PFmap/_.LTEN" />
        <Recolor>
          <DBTypes.HDRColor...Types.DBTypes>
            <A>0</A>
            <B>0</B>
            <G>0</G>
            <R>0</R>
          </DBTypes.HDRColor...Types.DBTypes>
        </Recolor>
        <Speed>0</Speed>
        <spyCamera>True</spyCamera>
        <TimeToDeath>0</TimeToDeath>
      </EditorPlugins.Scene.Presets.DefaultScenePreset...EditorPlugins>
    </Item>
    <Item>
      <Key>Pets</Key>
      <EditorPlugins.Scene.Presets.DefaultScenePreset...EditorPlugins>
        <Components>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
              <ComponentResource href="/Tech/TerrainA.SOBJ" />
              <IsTerrainLike>True</IsTerrainLike>
              <Locator>None</Locator>
              <Placement>
                <DBTypes.Placement2...Types.DBTypes>
                  <rotationX>0</rotationX>
                  <rotationY>0</rotationY>
                  <rotationZ>0</rotationZ>
                  <scaleX>1</scaleX>
                  <scaleY>1</scaleY>
                  <scaleZ>1</scaleZ>
                  <translateX>0</translateX>
                  <translateY>0</translateY>
                  <translateZ>0</translateZ>
                </DBTypes.Placement2...Types.DBTypes>
              </Placement>
            </EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
          </Item>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
              <ComponentResource href="/Pets/Cat/_.SOBJ" />
              <IsTerrainLike>False</IsTerrainLike>
              <Locator>None</Locator>
              <Placement>
                <DBTypes.Placement2...Types.DBTypes>
                  <rotationX>0</rotationX>
                  <rotationY>0</rotationY>
                  <rotationZ>0</rotationZ>
                  <scaleX>1</scaleX>
                  <scaleY>1</scaleY>
                  <scaleZ>1</scaleZ>
                  <translateX>2</translateX>
                  <translateY>0</translateY>
                  <translateZ>0</translateZ>
                </DBTypes.Placement2...Types.DBTypes>
              </Placement>
            </EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
          </Item>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
              <ComponentResource href="/Pets/Dog/_.SOBJ" />
              <IsTerrainLike>False</IsTerrainLike>
              <Locator>None</Locator>
              <Placement>
                <DBTypes.Placement2...Types.DBTypes>
                  <rotationX>0</rotationX>
                  <rotationY>0</rotationY>
                  <rotationZ>0</rotationZ>
                  <scaleX>1</scaleX>
                  <scaleY>1</scaleY>
                  <scaleZ>1</scaleZ>
                  <translateX>1</translateX>
                  <translateY>0</translateY>
                  <translateZ>0</translateZ>
                </DBTypes.Placement2...Types.DBTypes>
              </Placement>
            </EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
          </Item>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
              <ComponentResource href="/Pets/Pig/_.SOBJ" />
              <IsTerrainLike>False</IsTerrainLike>
              <Locator>None</Locator>
              <Placement>
                <DBTypes.Placement2...Types.DBTypes>
                  <rotationX>0</rotationX>
                  <rotationY>0</rotationY>
                  <rotationZ>0</rotationZ>
                  <scaleX>1</scaleX>
                  <scaleY>1</scaleY>
                  <scaleZ>1</scaleZ>
                  <translateX>-2</translateX>
                  <translateY>0</translateY>
                  <translateZ>0</translateZ>
                </DBTypes.Placement2...Types.DBTypes>
              </Placement>
            </EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
          </Item>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
              <ComponentResource href="/Pets/Horse/_.SOBJ" />
              <IsTerrainLike>False</IsTerrainLike>
              <Locator>None</Locator>
              <Placement>
                <DBTypes.Placement2...Types.DBTypes>
                  <rotationX>0</rotationX>
                  <rotationY>0</rotationY>
                  <rotationZ>0</rotationZ>
                  <scaleX>1</scaleX>
                  <scaleY>1</scaleY>
                  <scaleZ>1</scaleZ>
                  <translateX>-1</translateX>
                  <translateY>0</translateY>
                  <translateZ>0</translateZ>
                </DBTypes.Placement2...Types.DBTypes>
              </Placement>
            </EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
          </Item>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
              <ComponentResource href="/Pets/Tiger/_.SOBJ" />
              <IsTerrainLike>False</IsTerrainLike>
              <Locator>None</Locator>
              <Placement>
                <DBTypes.Placement2...Types.DBTypes>
                  <rotationX>0</rotationX>
                  <rotationY>0</rotationY>
                  <rotationZ>0</rotationZ>
                  <scaleX>1</scaleX>
                  <scaleY>1</scaleY>
                  <scaleZ>1</scaleZ>
                  <translateX>-3</translateX>
                  <translateY>0</translateY>
                  <translateZ>0</translateZ>
                </DBTypes.Placement2...Types.DBTypes>
              </Placement>
            </EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
          </Item>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
              <ComponentResource href="/Pets/Duck/_.SOBJ" />
              <IsTerrainLike>False</IsTerrainLike>
              <Locator>None</Locator>
              <Placement>
                <DBTypes.Placement2...Types.DBTypes>
                  <rotationX>0</rotationX>
                  <rotationY>0</rotationY>
                  <rotationZ>0</rotationZ>
                  <scaleX>1</scaleX>
                  <scaleY>1</scaleY>
                  <scaleZ>1</scaleZ>
                  <translateX>3</translateX>
                  <translateY>0</translateY>
                  <translateZ>0</translateZ>
                </DBTypes.Placement2...Types.DBTypes>
              </Placement>
            </EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
          </Item>
        </Components>
        <Distance>50</Distance>
        <Effects />
        <EnableCameraEffects>True</EnableCameraEffects>
        <LightResource href="/Maps/Multiplayer/PFmap/_.LTEN" />
        <Recolor>
          <DBTypes.HDRColor...Types.DBTypes>
            <A>1</A>
            <B>1.6</B>
            <G>0.48</G>
            <R>0.536</R>
          </DBTypes.HDRColor...Types.DBTypes>
        </Recolor>
        <Speed>0</Speed>
        <spyCamera>True</spyCamera>
        <TimeToDeath>0</TimeToDeath>
      </EditorPlugins.Scene.Presets.DefaultScenePreset...EditorPlugins>
    </Item>
    <Item>
      <Key>Hat</Key>
      <EditorPlugins.Scene.Presets.DefaultScenePreset...EditorPlugins>
        <Components>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
              <ComponentResource href="/Tech/TerrainA.SOBJ" />
              <IsTerrainLike>True</IsTerrainLike>
              <Locator>None</Locator>
              <Placement>
                <DBTypes.Placement2...Types.DBTypes>
                  <rotationX>0</rotationX>
                  <rotationY>0</rotationY>
                  <rotationZ>0</rotationZ>
                  <scaleX>1</scaleX>
                  <scaleY>1</scaleY>
                  <scaleZ>1</scaleZ>
                  <translateX>0</translateX>
                  <translateY>0</translateY>
                  <translateZ>0</translateZ>
                </DBTypes.Placement2...Types.DBTypes>
              </Placement>
            </EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
          </Item>
        </Components>
        <Distance>50</Distance>
        <Effects>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..EffectInfo...EditorPlugins>
              <ComponentResource href="/Terrain/Events/NewYear/Hat.EFFT" />
            </EditorPlugins.Scene.Presets.DefaultScenePreset..EffectInfo...EditorPlugins>
          </Item>
        </Effects>
        <EnableCameraEffects>True</EnableCameraEffects>
        <LightResource href="/Maps/Multiplayer/PFmap/_.LTEN" />
        <Recolor>
          <DBTypes.HDRColor...Types.DBTypes>
            <A>1</A>
            <B>1.6</B>
            <G>0.48</G>
            <R>0.536</R>
          </DBTypes.HDRColor...Types.DBTypes>
        </Recolor>
        <Speed>0</Speed>
        <spyCamera>True</spyCamera>
        <TimeToDeath>0</TimeToDeath>
      </EditorPlugins.Scene.Presets.DefaultScenePreset...EditorPlugins>
    </Item>
    <Item>
      <Key>Video</Key>
      <EditorPlugins.Scene.Presets.DefaultScenePreset...EditorPlugins>
        <Components>
          <Item>
            <EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
              <ComponentResource href="/Test/Backs/_.SOBJ" />
              <IsTerrainLike>False</IsTerrainLike>
              <Locator>None</Locator>
              <Placement>
                <DBTypes.Placement2...Types.DBTypes>
                  <rotationX>0</rotationX>
                  <rotationY>0</rotationY>
                  <rotationZ>0</rotationZ>
                  <scaleX>1.99</scaleX>
                  <scaleY>1.99</scaleY>
                  <scaleZ>1.99</scaleZ>
                  <translateX>0.47</translateX>
                  <translateY>4.5</translateY>
                  <translateZ>-1.38</translateZ>
                </DBTypes.Placement2...Types.DBTypes>
              </Placement>
            </EditorPlugins.Scene.Presets.DefaultScenePreset..LocatorInfo...EditorPlugins>
          </Item>
        </Components>
        <Distance>60</Distance>
        <Effects />
        <EnableCameraEffects>True</EnableCameraEffects>
        <LightResource href="/Maps/Multiplayer/MOBA/_.LTEN" />
        <Recolor>
          <DBTypes.HDRColor...Types.DBTypes>
            <A>0</A>
            <B>0</B>
            <G>0</G>
            <R>0</R>
          </DBTypes.HDRColor...Types.DBTypes>
        </Recolor>
        <Speed>0</Speed>
        <spyCamera>True</spyCamera>
        <TimeToDeath>0</TimeToDeath>
      </EditorPlugins.Scene.Presets.DefaultScenePreset...EditorPlugins>
    </Item>
  </DefaultScenePreset>
  <StaticMeshPreset Type="StaticMeshPreset" FullType="EditorPlugins.Scene.Presets.StaticMeshPreset">
    <EditorPlugins.Scene.Presets.StaticMeshPreset...EditorPlugins>
      <LightResource href="/Tech/Generic.LTEN" />
    </EditorPlugins.Scene.Presets.StaticMeshPreset...EditorPlugins>
  </StaticMeshPreset>
</Settings>