<Settings>
  <EditorLib.Wizards.TableDataEditing.TableDataPresetConfig...EditorLib Type="TableDataPresetConfig" FullType="EditorLib.Wizards.TableDataEditing.TableDataPresetConfig">
    <Presets>
      <Item>
        <EditorLib.Wizards.TableDataEditing.TableDataPreset...EditorLib>
          <BaseType>DBTypes.EventProcessorCondition...PF_Types.DBTypes</BaseType>
          <Name>New Preset</Name>
          <Properties>
            <Item>
              <EditorLib.Wizards.TableDataEditing.TableDataProperty...EditorLib>
                <ArrayTypes />
                <Filter>Attack</Filter>
                <Index>0</Index>
                <Name>events</Name>
                <Path>EventProcessorCondition.events</Path>
                <Properties />
                <PropertyType>DBTypes.EBaseUnitEventFlags...PF_Types.DBTypes</PropertyType>
              </EditorLib.Wizards.TableDataEditing.TableDataProperty...EditorLib>
            </Item>
            <Item>
              <EditorLib.Wizards.TableDataEditing.TableDataProperty...EditorLib>
                <ArrayTypes />
                <Filter>
                </Filter>
                <Index>1</Index>
                <Name>condition</Name>
                <Path>EventProcessorCondition.condition</Path>
                <Properties />
                <PropertyType>DBTypes.ExecutableBoolString...PF_Types.DBTypes</PropertyType>
              </EditorLib.Wizards.TableDataEditing.TableDataProperty...EditorLib>
            </Item>
            <Item>
              <EditorLib.Wizards.TableDataEditing.TableDataProperty...EditorLib>
                <ArrayTypes />
                <Filter>
                </Filter>
                <Index>2</Index>
                <Name>applyTarget</Name>
                <Path>EventProcessorCondition.applyTarget</Path>
                <Properties />
                <PropertyType>DBTypes.EApplicatorApplyTarget...PF_Types.DBTypes</PropertyType>
              </EditorLib.Wizards.TableDataEditing.TableDataProperty...EditorLib>
            </Item>
            <Item>
              <EditorLib.Wizards.TableDataEditing.TableDataProperty...EditorLib>
                <ArrayTypes />
                <Filter>
                </Filter>
                <Index>3</Index>
                <Name>spell</Name>
                <Path>EventProcessorCondition.spell</Path>
                <Properties />
                <PropertyType>libdb.DB.DBPtr`1[[DBTypes.Spell, PF_Types.DBTypes, Version=0.171.24.26107, Culture=neutral, PublicKeyToken=null]]...libdb.NET</PropertyType>
              </EditorLib.Wizards.TableDataEditing.TableDataProperty...EditorLib>
            </Item>
          </Properties>
          <RootFolder>/</RootFolder>
        </EditorLib.Wizards.TableDataEditing.TableDataPreset...EditorLib>
      </Item>
    </Presets>
  </EditorLib.Wizards.TableDataEditing.TableDataPresetConfig...EditorLib>
</Settings>