<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></head>
<body style="background-color:#e5eff8;font-family:Arial,Helvetica,sans-serif;">
	<div style="font-family:Arial,Helvetica,sans-serif;color:#ffffff;background-color:#e5eff8;padding:0;margin:auto;border:none;width:620px !important;height:100% !important;text-align:center;">
			<table width="600" border="0" cellpadding="0" cellspacing="0" align="center" style="background-color:transparent;border-collapse:collapse;">
				<tbody>
					<tr><td  width="100%" align="center" style="background-color:transparent;color:#202c2c;font-size:10px;">
						<img src="images/header.jpg" width="600" style="display:block;border:none;text-decoration:none;margin-top:10px;" alt="Для корректного просмотра письма необходимо включить показ картинок">
					</td></tr>	
					<tr><td  width="100%" align="center" style="background-color:transparent;color:#202c2c;font-size:10px;">
						<img src="images/bodyTop.jpg" width="600" style="display:block;border:none;text-decoration:none;">
					</td></tr>	
					<tr><td width="100%">
						<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="background-color:#202c2c;border-collapse:collapse;"><tbody>
							<tr>
								<td width="20">
									<img src="images/bodySide.jpg" width="20" height="auto" style="display:block;border:none;text-decoration:none;">
								</td>
								<td width="560" align="center" style="width:560; background:#114144; text-align:left; font-size:14px; padding:5px 15px; line-height:150%; color:#ffffff;">
									<p style="font-size:18px;text-align:center;margin:0;padding:0;">Prime World приветствует вас!</p>
									<br>Спасибо за регистрацию и добро пожаловать в Prime World! Вас ждет собственный замок, увлекательные приключения и яростные битвы! 
									<br><br>Если Вы еще не установили Prime World, скачать его можно <a style="color:#00f3ff;text-decoration:none;" href="http://updates.playpw.com/PWSetup_q7jrb.exe" target="_blank">отсюда.</a>
									<br><br>Пожалуйста, для завершения регистрации пройдите по следующей ссылке: <a style="color:#00f3ff;text-decoration:none;" target="_blank">__________</a>. Обращаем внимание: если завершение регистрации не будет произведено в течение <strong>2</strong> дней, вход в игру будет заблокирован.
									<br><br>Настоятельно рекомендуем для входа в игру подключить Ваш аккаунт в социальных сетях <a style="color:#00f3ff;text-decoration:none;" href="http://facebook.com" target="_blank">Facebook</a> или <a style="color:#00f3ff;text-decoration:none;" href="http://odnoklassniki.ru/" target="_blank">Одноклассники</a>! <strong>Мы дарим в игре ценный подарок при подключении каждой социальной сети!</strong> Кроме того, с использованием аккаунта от соцсетей для Вас значительно расширится функционал игры. 
									<br><br>Подключить социальные сети можно в <a style="color:#00f3ff;text-decoration:none;" href="http://account.playpw.com" target="_blank">личном кабинете</a> на официальном сайте или при входе в игру.
									<br><br>Новичкам будет полезна <a style="color:#00f3ff;text-decoration:none;" href="http://ru.playpw.com/about-game/how-to-play.html" target="_blank">основная информация об игре</a>.	
									<br><br>Также быть в курсе последних новостей и узнать подробнее о Prime World можно на <a style="color:#00f3ff;text-decoration:none;" href="http://ru.playpw.com/" target="_blank">сайте</a>, <a style="color:#00f3ff;text-decoration:none;" href="http://www.zzima.com/forum/forumdisplay.php?f=520" target="_blank">форуме</a> и в <a style="color:#00f3ff;text-decoration:none;" href="http://ru.primeworld.wikia.com/wiki/Prime_World_%D0%B2%D0%B8%D0%BA%D0%B8" target="_blank">нашей Вики</a>. 
									<br><br>Если Вы не регистрировались в игре Prime World, то пора это сделать. Присоединяйтесь к онлайновой экшн-стратегии в уникальной вселенной на <a style="color:#00f3ff;text-decoration:none;" href="http://ru.playpw.com/" target="_blank">http://ru.playpw.com/</a>
									
									<p style="font-size:18px;text-align:center;margin:0;padding:0;">Prime World приветствует вас!</p>
									<br>Для завершения регистрации необходимо пройти по следующей ссылке: <a style="color:#00f3ff;text-decoration:none;" target="_blank">__________</a>
									<br><br>Благодарим за внимание и ждем Вас в игре!
									
									<p style="font-size:18px;text-align:center;margin:0;padding:0;">Prime World приветствует вас!</p>
									<br>Вы получили это письмо потому, что для вашего аккаунта было запрошено изменение пароля.
									<br><br>Чтобы изменить пароль, пожалуйста, перейдите по следующей ссылке и следуйте простой инструкции: <a style="color:#00f3ff;text-decoration:none;" target="_blank">__________</a>
									<br><br>Если Вы не запрашивали смену пароля, просто проигнорируйте это письмо.
									<br><br>Благодарим за то, что вы с нами!
								</td>
								<td width="20">
									<img src="images/bodySide.jpg" width="20" height="auto" style="display:block;border:none;text-decoration:none;">
								</td>
							</tr>
						</tbody></table>
					</td></tr>
					<tr><td width="100%" height="32" style="background-color:#202c2c;" align="center">
						<img src="images/bodyBottom.jpg" width="600" height="32" style="display:block;border:none;text-decoration:none;">
					</td></tr>
					<tr><td width="100%">
						<table width="100%" border="0" cellpadding="5" cellspacing="5" align="center" style="background-color:#202c2c;border-collapse:collapse;">
							<tbody>	
								<tr align="center" width="100%" height="50" style="background-color:#202c2c;">
									<td width="auto"></td>
									<td width="40"><a style="color:#00f3ff;text-decoration:none;" href="http://www.facebook.com/mirprime" title="Facebook" target="_blank"><img src="images/fb.png" alt="Facebook" width="32" height="32" style="display:block;border:none;text-decoration:none;"></a></td>
									<td width="40"><a style="color:#00f3ff;text-decoration:none;" href="http://vk.com/prime_world" title="В контакте" target="_blank"><img src="images/vk.png" alt="B контакте" width="32" height="32" style="display:block;border:none;text-decoration:none;"></a></td>
									<td width="40"><a style="color:#00f3ff;text-decoration:none;" href="http://twitter.com/primeworld_ru" title="Twitter" target="_blank"><img src="images/twitter.png" alt="Twitter" width="32" height="32" style="display:block;border:none;text-decoration:none;"></a></td>
									<td width="40"><a style="color:#00f3ff;text-decoration:none;" href="http://www.youtube.com/user/primeworldru" title="Youtube" target="_blank"><img src="images/youtube.png" alt="Youtube" width="32" height="32" style="display:block;border:none;text-decoration:none;"></a></td>
									<td width="40"><a style="color:#00f3ff;text-decoration:none;" href="http://odnoklassniki.ru/group/50758625919048" title="Одноклассники" target="_blank"><img src="images/ok.png" alt="Одноклассники" width="32" height="32" style="display:block;border:none;text-decoration:none;"></a></td>
									<td width="40"><a style="color:#00f3ff;text-decoration:none;" href="http://www.zzima.com/games/pw" title="ZZima" target="_blank"><img src="images/zz.png" width="32" height="32" alt="Zzima" style="display:block;border:none;text-decoration:none;"></a></td>
									<td width="auto"></td>
								</tr>
							</tbody>
						</table>
					</td></tr>
					<tr><td width="100%">
						<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="background-color:#202c2c;border-collapse:collapse;"><tbody>	
							<tr height="40">
								<td width="20">
									<img src="images/bodySide.jpg" width="20" height="32" style="display:block;border:none;text-decoration:none;">
								</td>
								<td width="auto" align="left" valign="center">
									<p style="color:#ffffff; font-size:11px; text-align:left;">
									2008-2012 Nival. <a style="color:#00f3ff;text-decoration:none;" href="http://www.playpw.com" target="_blank">Prime World</a> является торговой маркой  <a style="color:#00f3ff;text-decoration:none;" href="http://www.nival.com" target="_blank">Nival</a>.<br>
									Разрабатывается и издается компанией <a style="color:#00f3ff;text-decoration:none;" href="http://www.nival.com" target="_blank">Nival</a>. Все права защищены.</p>
								</td>
								<td width="95" align="left" valign="top">
									<a style="color:#00f3ff;text-decoration:none;" href="http://www.nival.com" title="Nival" target="_blank"><img src="images/nival.png" alt="Nival" width="74" height="34" style="display:block;border:none;text-decoration:none;"></a>
								</td>
							</tr>
						</tbody></table>
					</td></tr>
					<tr><td width="100%" height="10" style="background-color:#transparent;" align="center">
						<img src="images/footer.png" width="600" height="10" style="display:block;border:none;text-decoration:none;margin-bottom:10px;">
					</td></tr>
				</tbody>
			</table>		
		</div>
	</body>
</html>