#ifndef __L_${rpc_classname}_H__
#define __L_${rpc_classname}_H__

#include <RPC/RPC.h>
#include <RPC/CppWrapper.h>
${rpc_includes}

#include "${rpc_classheader}"

${rpc_classhes}

#endif // __L_${rpc_classname}_H__