#ifndef __R_${rpc_classname}_H__
#define __R_${rpc_classname}_H__

#include <RPC/RPC.h>
${rpc_includes}

${rpc_classhes}

#endif // __R_${rpc_classname}_H__
