<Settings>
  <RootFileSystem Type="RootFileSystem" FullType="EditorLib.IO.RootFileSystem" Version="2" />
  <EditorLib.Scripts.ScriptsConfig...EditorLib Type="ScriptsConfig" FullType="EditorLib.Scripts.ScriptsConfig">
    <scripts />
  </EditorLib.Scripts.ScriptsConfig...EditorLib>
  <EditorPlugins.Scene.DebugVarsFilterConfig...EditorPlugins Type="DebugVarsFilterConfig" FullType="EditorPlugins.Scene.DebugVarsFilterConfig">
    <CommonDebugVars />
  </EditorPlugins.Scene.DebugVarsFilterConfig...EditorPlugins>
</Settings>