<Settings>
  <EditorLib.PropertiesEditor.PropertyPresets.PropertyPresetConfig...EditorLib Type="PropertyPresetConfig" FullType="EditorLib.PropertiesEditor.PropertyPresets.PropertyPresetConfig">
    <canEditPresets>True</canEditPresets>
    <configPresets />
  </EditorLib.PropertiesEditor.PropertyPresets.PropertyPresetConfig...EditorLib>
</Settings>