<Settings>
  <DefaultScenePreset Type="DefaultScenePreset" FullType="EditorPlugins.Scene.Presets.DefaultScenePreset">
    <EditorPlugins.Scene.Presets.DefaultScenePreset...EditorPlugins>
      <Components />
      <Distance>0</Distance>
      <Effects />
      <EnableCameraEffects>True</EnableCameraEffects>
      <LightResource />
      <Recolor>
        <DBTypes.HDRColor...Types.DBTypes>
          <A>1</A>
          <B>0</B>
          <G>0</G>
          <R>0</R>
        </DBTypes.HDRColor...Types.DBTypes>
      </Recolor>
      <Speed>0</Speed>
      <spyCamera>False</spyCamera>
      <TimeToDeath>0</TimeToDeath>
    </EditorPlugins.Scene.Presets.DefaultScenePreset...EditorPlugins>
  </DefaultScenePreset>
  <StaticMeshPreset Type="StaticMeshPreset" FullType="EditorPlugins.Scene.Presets.StaticMeshPreset">
    <EditorPlugins.Scene.Presets.StaticMeshPreset...EditorPlugins>
      <LightResource />
    </EditorPlugins.Scene.Presets.StaticMeshPreset...EditorPlugins>
  </StaticMeshPreset>
</Settings>