<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="SolidInjectionLibrary" type="System.Configuration.NameValueSectionHandler" />
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SolidInjectionLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="closed" value="true" />
        <add key="private" value="true" />
        <add key="expireMultiplier" value="2.0" />
        <add key="interval" value="600" />
        <add key="enforceAnnounce" value="false" />
        <add key="fileHashComparison" value="true" />
        <add key="storeSectionSize" value="0" />
        <add key="vcDiffOptions" value="" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>
    <SolidInjectionLibrary>
        <add key="SolidDebug" value="file" />
        <add key="AutoDomain" value="snxd.com" />
        <add key="SSARpcUrl" value="https://api.solidstatenetworks.com/" />
    </SolidInjectionLibrary>
    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
            </providers>
        </roleManager>
    </system.web>
</configuration>