/* Reset
--------------------------------------------------*/
HTML, BODY, DIV, SPAN, APPLET, OBJECT, IFRAME,
H1, H2, H3, H4, H5, H6, P, BLOCKQUOTE, PRE,
A, ABBR, ACRONYM, ADDRESS, BIG, CITE, CODE,
DEL, DFN, EM, IMG, INS, KBD, Q, S, SAMP,
SMALL, STRIKE, STRONG, SUB, SUP, TT, VAR,
B, U, I, CENTER,
DL, DT, DD, OL, UL, LI,
FIELDSET, FORM, LABEL, LEGEND,
TABLE, CAPTION, TBODY, TFOOT, THEAD, TR, TH, TD,
ARTICLE, ASIDE, CANVAS, DETAILS, EMBED, 
FIGURE, FIGCAPTION, FOOTER, HEADER, HGROUP, 
MENU, NAV, OUTPUT, RUBY, SECTION, SUMMARY,
TIME, MARK, AUDIO, VIDEO {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
	}
ARTICLE, ASIDE, DETAILS, FIGCAPTION, FIGURE, 
FOOTER, HEADER, HGROUP, MENU, NAV, SECTION {
	display:block;
	}

HTML
{
	height:100%;
}

BODY
{
	line-height:1;
	 height:100%;
}

OL, UL {
	list-style:none;
	}
BLOCKQUOTE, Q {
	quotes:none;
	}
BLOCKQUOTE:before, BLOCKQUOTE:after,
Q:before, Q:after {
	content:"";
	content:none;
	}
TABLE {
	border-collapse:collapse;
	border-spacing:0;
	}
SUP,SUB {
	vertical-align:baseline;
	position:relative;
	top:-.5em;
	font-size:.85em;
	}
SUB {
	top:.5em;
	}

/* Global
--------------------------------------------------*/
BODY {
	background:#101c1c;
	color:#fff;
	font-family:Arial,sans-serif;
	font-size:.75em;
	}

A {
	color:#6efffa;
	text-decoration:none;
	}
	A:hover {
		color:#fff;
		}

@font-face {
    font-family:"HeliosCondAzNormal";
    src:url("fonts/helioscondaznormal-webfont.eot");
    src:url("fonts/helioscondaznormal-webfont.eot?#iefix") format("embedded-opentype"),
        url("fonts/helioscondaznormal-webfont.woff") format("woff"),
        url("fonts/helioscondaznormal-webfont.ttf") format("truetype"),
        url("fonts/helioscondaznormal-webfont.svg#HeliosCondAzNormal") format("svg");
    font-style:normal;
    font-weight:normal;
	}

@font-face {
    font-family:"HeliosCondAzBold";
    src:url("fonts/helioscondc-bold-webfont.eot");
    src:url("fonts/helioscondc-bold-webfont.eot?#iefix") format("embedded-opentype"),
        url("fonts/helioscondc-bold-webfont.woff") format("woff"),
        url("fonts/helioscondc-bold-webfont.ttf") format("truetype"),
        url("fonts/helioscondc-bold-webfont.svg#HeliosCondAzBold") format("svg");
    font-style:normal;
    font-weight:normal;
	}

/* Header
--------------------------------------------------*/
.b-header {
	height:85px;
	padding:0 25px;
	background:#034e53;
	}
	.b-header .logo {
		padding:16px 0 0;
		}
		.b-header .logo IMG {
			vertical-align:middle;
			}

/* Section
--------------------------------------------------*/
.genderDivs
{
	float: left;
	margin-right: 20px;
}

.b-section {
	padding: 20px 20px 90px 20px;
	}

.page-content
{
	height:auto !important;
	height:100%;
	min-height:100%;
}

.page-footer
{
	background:#00171a;
	width:100%;
	height:70px;
	text-align:center;
	margin-top: -70px;
}
	.page-footer .footer-content
	{
		width:360px;
		margin:0px auto;
		font-size: 10px;
	}
	
/* popup */
.b-popup {
	position:relative;
	width:373px;
	margin:auto;
	padding:17px 18px;
	background:#001e22 url(images/bg-popup.png) no-repeat;
	border:1px solid #305053;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	color:#fff;
	}
	.b-popup_reg {
		padding-right:58px;
		}

	.b-popup__title {
		margin:0 0 17px;
		font:14px "HeliosCondAzBold",Arial,sans-serif;
		text-transform:uppercase;
		}

/* form */
.b-form {

	}
	.b-form-submit {
		text-align:right;
		}
	.b-form-item {
		margin:0 0 19px;
		}
		.b-form-item LABEL {
			display:block;
			}
			.b-form-item LABEL SPAN {
				display:block;
				padding:0 0 11px;
				font-weight:700;
				}

	.b-input {
		display:block;
		width:100%;
		margin:1px;
		padding:7px 6px 8px;
		background:#fff;
-webkit-box-shadow:0 -1px 0 #000809;
   -moz-box-shadow:0 -1px 0 #000809;
		box-shadow:0 -1px 0 #000809;
		border:1px solid #388686;
-webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	 -o-box-sizing:border-box;
		box-sizing:border-box;
		}

	.b-checkbox {
		display:-moz-inline-box;display:inline-block;//display:inline;zoom:1;
		vertical-align:bottom;
		margin:0;
		padding:0;
		}

	.b-form-item .ctrls {
		zoom:1;
		padding:8px 0 0;
		font-size:11px;
		}
		.b-form-item .ctrls:before,
		.b-form-item .ctrls:after {
			content:"";
			display:table;
			}
			.b-form-item .ctrls:after {clear:both;}

		.b-form-item .ctrls .left {
			float:left;
			}
		.b-form-item .ctrls .right {
			float:right;
			}

.b-submit,
.b-button {
	display:block;
	width:100%;
	margin:30px 0 0;
	padding:5px 0;
	background:#6ac2bf;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#6ac2bf), color-stop(100%,#0e9d98));
	background:-webkit-linear-gradient(top, #6ac2bf 0%,#0e9d98 100%);
	background:-moz-linear-gradient(top, #6ac2bf 0%, #0e9d98 100%);
	background:-ms-linear-gradient(top, #6ac2bf 0%,#0e9d98 100%);
	background:-o-linear-gradient(top, #6ac2bf 0%,#0e9d98 100%);
	background:linear-gradient(top, #6ac2bf 0%,#0e9d98 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ac2bf', endColorstr='#0e9d98',GradientType=0 );
	-webkit-box-shadow:0 2px 3px 0 rgba(0,0,0,.34);
	   -moz-box-shadow:0 2px 3px 0 rgba(0,0,0,.34);
	     -o-box-shadow:0 2px 3px 0 rgba(0,0,0,.34);
	        box-shadow:0 2px 3px 0 rgba(0,0,0,.34);
	
	border:1px solid #08625f;
	border-color:#d0dedd #327371 #08625f;
	-webkit-border-radius:3px;
	   -moz-border-radius:3px;
	     -o-border-radius:3px;
	        border-radius:3px;
	color:#1d1c1c;
	font:16px "HeliosCondAzBold",Arial,sans-serif;
	text-shadow:0 1px 0 #b2e0de;
	text-transform:uppercase;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
		-ms-box-sizing:border-box;
		 -o-box-sizing:border-box;
			box-sizing:border-box;
	cursor:pointer;
	}
	.b-button {
		display:-moz-inline-box;display:inline-block;//display:inline;zoom:1;
		width:auto;
		margin:0;
		padding:4px 9px 3px;
		font-size:12px;
		}
	.b-submit:hover,
	.b-button:hover {
		background:#81ccc9;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#81ccc9), color-stop(100%,#34aca8));
		background:-webkit-linear-gradient(top, #81ccc9 0%,#34aca8 100%);
		background:-moz-linear-gradient(top, #81ccc9 0%, #34aca8 100%);
		background:-ms-linear-gradient(top, #81ccc9 0%,#34aca8 100%);
		background:-o-linear-gradient(top, #81ccc9 0%,#34aca8 100%);
		background:linear-gradient(top, #81ccc9 0%,#34aca8 100%);
		filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#81ccc9', endColorstr='#34aca8',GradientType=0 );
		border-color:#d7e3e2 #2f7774 #2f7b78;
		color:#1d1c1c;
		}
	.b-submit:active,
	.b-button:active {
		background:#0d8e88;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#0d8e88), color-stop(100%,#60afac));
		background:-webkit-linear-gradient(top, #0d8e88 0%,#60afac 100%);
		background:-moz-linear-gradient(top, #0d8e88 0%, #60afac 100%);
		background:-ms-linear-gradient(top, #0d8e88 0%,#60afac 100%);
		background:-o-linear-gradient(top, #0d8e88 0%,#60afac 100%);
		background:linear-gradient(top, #0d8e88 0%,#60afac 100%);
		filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d8e88', endColorstr='#60afac',GradientType=0 );
		border-color:#075856 #276563;
		text-shadow:none;
		color:#1d1c1c;
		}

.b-status {
    position:relative;
    margin:20px -3px;
    padding:5px 24px 7px 48px;
    background-color:#00171a;
    background-repeat:no-repeat;
    -webkit-box-shadow:0 -1px 0 0 #000505;
    -moz-box-shadow:0 -1px 0 0 #000505;
    box-shadow:0 -1px 0 0 #000505;
    border-width:3px;
    border-style:solid;
    border-color:transparent;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    }
    .b-status_success {
        background-image:url(images/status-success.png);
        background-position:12px 10px;
        border-color:#028405;
        }
    .b-status_error {
        padding:10px 24px 9px 48px;
        background-image:url(images/status-error.png);
        background-position:13px 9px;
        border-color:#f00;
        }
    .b-status P {
        margin:5px 0 0;
        line-height:18px;
        }
        .b-status P:first-child {
            margin:0;
            }

.t-form {
	margin:0 0 11px;
	width:100%;
	border-collapse:collapse;
	}
	.t-form TH,
	.t-form TD {
		vertical-align:top;
		padding-bottom:11px;
		}
		.t-form TH {
			width:125px;
			padding:8px 0 0;
			font-weight:700;
			text-align:left;
			}
	.t-form TABLE {
		width:100%;
		border-collapse:collapse;
		}
		.t-form TABLE TD {
			padding:0 0 0 10px;
			}
			.t-form TABLE TD:first-child {padding:0;}
			
			.t-form TABLE .b-select {
				width:100%;
				}

.b-select {
	display:inline-block;
	height:30px;
	line-height:30px;
	margin:1px;
	padding:4px;
	background:#fff;
	-webkit-box-shadow:0 -1px 0 #000809;
	   -moz-box-shadow:0 -1px 0 #000809;
			box-shadow:0 -1px 0 #000809;
	color:#555;
	border:1px solid #388686;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	font-size:12px;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
		-ms-box-sizing:border-box;
		 -o-box-sizing:border-box;
			box-sizing:border-box;
	}

	.form-done .b-input,
	.form-done .b-select {
		border:2px solid #00ff3c;
		}
		.form-done .b-input {
			padding:6px 6px 7px;
			}
	.form-error .b-input,
	.form-error .b-select {
		border:2px solid #f00;
		}
		.form-error .b-input {
			padding:6px 6px 7px;
			}

.b-radios {
	padding:4px 0 0;
	zoom:1;
	}
	.b-radios:before,
	.b-radios:after {
		content:"";
		display:table;
		}
		.b-radios:after {clear:both;}

	.b-radios LI {
		float:left;
		margin-right:20px;
		}

.b-captcha {
	padding:0 0 0 2px;
	}
	.b-captcha IMG {
		vertical-align:middle;
		margin-right:15px;
		}
	.b-captcha .refresh {
		position:relative;
		top:-2px;
		display:-moz-inline-box;display:inline-block;//display:inline;zoom:1;
		vertical-align:middle;
		width:32px;
		height:42px;
		background:url(images/refresh.png) no-repeat;
		text-indent:-999em;
		}

.b-hint {
	position:absolute;
	right:30px;
	width:20px;
	height:20px;
	margin-top:-25px;
	}
	.form-done .b-hint {background:url(images/ok.png) no-repeat;}
	.form-error .b-hint {background:url(images/nok.png) no-repeat;}
	.table-done .b-hint {background:url(images/ok.png) no-repeat;}
	.table-error .b-hint {background:url(images/nok.png) no-repeat;}
	.b-hint P {
		position:absolute;
		display:block;
		left:100%;
		display:block;
		margin:-10px 0 0 12px;
		padding:10px 10px 11px;
		background:#3e0000;
		-webkit-background-clip:padding-box;
		-webkit-box-shadow:0 -1px 0 0 #000505;
		-moz-box-shadow:0 -1px 0 0 #000505;
		box-shadow:0 -1px 0 0 #000505;
		border:1px solid #6b0000;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		border-radius:3px;
		color:#fffc00;
		font-size:12px;
		font-weight:700;
		white-space:nowrap;
		}
		.b-hint P:after {
			position:absolute;
			top:7px;
			left:-12px;
			display:block;
			width:12px;
			height:21px;
			background:url(images/hint-larr.png) no-repeat;
			content:"";
			}

