body {
  background: white;
  color: black;
  margin: 15px;
}

body,
input,
textarea {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  font-size: 10pt;
}

table {
  border-collapse: collapse;
  border: 0;
}
td {
  border: 0;
  padding: 0;
}

img {
  border: 0;
}

.post {
  border-bottom: 1px solid #eeeeee;
  min-height: 50px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.post .picture {
  float: left;
}

.post .picture img {
  height: 50px;
  width: 50px;
}

.post .body {
  margin-left: 60px;
}

.post .media img {
  border: 1px solid #cccccc;
  padding: 3px;
}

.post .media:hover img {
  border: 1px solid #3b5998;
}

.post a.actor {
  font-weight: bold;
}

.post .meta {
  font-size: 11px;
}

.post a.permalink {
  color: #777777;
}

#body {
  max-width: 700px;
  margin: auto;
}

