#include "ApplicationResources.h"

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
#define APSTUDIO_READONLY_SYMBOLS
#include <winnt.h>
#include <WinVer.h>
#undef APSTUDIO_READONLY_SYMBOLS

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
#ifdef _WIN32
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1251)
#endif //_WIN32

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
IDI_MAIN ICON "App.ico"

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1251)
#endif //_WIN32

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "Application.manifest"
