<?xml version="1.0" encoding="Windows-1252"?>
<Product>
    <Enterprise>
        <Company>NIVAL INTERNATIONAL LIMITED</Company>
        <Copyright>Copyright © NIVAL INTERNATIONAL LIMITED 2008 - 2021</Copyright>
        <Trademarks>Nival® is a registered trademark of NIVAL INTERNATIONAL LIMITED.</Trademarks>
    </Enterprise>
    <Version>
        <Major>0</Major>
        <Minor>171</Minor>
        <Patch>24</Patch>
        <Line>11.18</Line>
        <Branch>11.18</Branch>
    </Version>
    <Content>
        <Game>
            <Title>Prime World</Title>
            <Description>Prime World</Description>
            <ShortTitle>PW</ShortTitle>
            <Executable>PW_Game.exe</Executable>
        </Game>
        <EditorCommon>
            <Title>Common Editor Library</Title>
            <Description>Common Editor Library</Description>
        </EditorCommon>
        <EditorTypes>
            <Title>Database Structures</Title>
            <Description>Database Structures</Description>
        </EditorTypes>
        <Editor>
            <Title>Prime World Editor</Title>
            <Description>Editor for Prime World Projects</Description>
        </Editor>
    </Content>
</Product>