<Settings>
  <EditorPlugins.Scene.SceneSettingsConfig...EditorPlugins Type="SceneSettingsConfig" FullType="EditorPlugins.Scene.SceneSettingsConfig">
    <drawCollisionSelection>True</drawCollisionSelection>
    <usePostFX>True</usePostFX>
  </EditorPlugins.Scene.SceneSettingsConfig...EditorPlugins>
</Settings>