
				<FileConfiguration
					Name="{3}|Win32"
					>
					<Tool
						Name="VCCustomBuildTool"
						Description="{2}"
						CommandLine="@echo {1} > $(SolutionDir).components\\{0}"
						Outputs="$(SolutionDir).components\\{0}"
					/>
				</FileConfiguration>