
				<FileConfiguration
					Name="Release|Win32"
					ExcludedFromBuild="${exclude}"
					>
					<Tool
						Name="VCCLCompilerTool"${AdditionalOptions}${PCH}${AdditionalIncludeDirectories}${ObjectFile}${PreprocessorDefinitions}${CompilerKeysInformation}
					/>
				</FileConfiguration>