@import url(auth/css/style.css);

body
{
	font: 10px Arial;
	color: #fff;
	background-color: transparent;
	width:781px;
	height:682px;
	left: 0;
	top: 0;
	overflow:hidden!important;
	behavior:url("csshover3.htc");
}

#bodyBackground
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 781px;
	height: 682px;
	background: url(images/main-dialog-normal.png) no-repeat top left;
	background-color: transparent;
	overflow: hidden;
	z-index: 1;
}

#applicationName
{
	display: block;
	position: absolute;
	top: 100px;
	left: 5px;
	height: 15px;
	overflow: hidden;
	color: #ffffff;
	font-family: Arial;
	font-weight: bold;
	font-size: 12px;
	z-index: 2;
	cursor: move;
}

.border {
    border: 0px;
    overflow: hidden;
}

.informationKey
{
	color: #f1edc0;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	text-align: right;

    padding-top: 3px;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.informationValue
{
	color: #ffffff;
	font-family: Verdana;
	font-size: 11px;
    padding-top: 3px;
	text-indent: 1;
    text-align: left;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.informationKeyOptions
{
	color: #f1edc0;
	font-family: Verdana;
	font-size: 13px;
	align: left;
}

.optionsSelector
{
	color: #000;
	font-family: Verdana;
	font-size: 11px;
	align: left;
}

.downloadContentTable
{
	cursor: default;
	position: absolute;
	color: #f1edc0;
	font-size: 12px;
	background-color: transparent;
	font-family: Verdana;
	vertical-align: middle;
	text-align: left;

	top: 586px;
	left: 216px;
/*	left: 168px; */
	width: 434px;
}

#closeButton{
	cursor: pointer;
	position: absolute;
	top: 96px;
	right: 2px;
	width: 28px;
	height: 24px;
	overflow: hidden;
	z-index: 4;
	background-image: url('images/main-button-close-normal.png');
	display:block;
}

#closeButton:hover{
	background-image: url('images/main-button-close-hover.png');
}

.titlebarButton{
	cursor: pointer;
	position: absolute;
	width: 28px;
	height: 24px;
	overflow: hidden;
	z-index: 4;
	display:block;
	-webkit-transition: box-shadow 0.11s;

}

.titlebarButton:hover{
	box-shadow: inset 0px -12px 15px -6px #2ca9b0;
}

.titlebarButton:active{
	box-shadow: inset 0px 0px 1px 2px #1b372d;
}

.titlebarButton.disabled{
	box-shadow: inset 0px 0px 1px 10px rgba(128, 128, 128, 0.5);
	cursor: default;
}

#ruButton
{
	cursor: pointer;
	position: absolute;
	top: 96px;
	right: 88px;
	overflow: hidden;
	z-index: 4;
}

#enButton
{
	cursor: pointer;
	position: absolute;
	top: 96px;
	right: 116px;
	overflow: hidden;
	z-index: 4;
}

#moveWindowArea
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 692px;
	height: 117px;
	overflow: hidden;
	background-color: transparent;
	z-index: 3;
	cursor: move;
}

#statusBackground
{
	width: 800px;
	height: 50px;
	position: absolute;
	top: 315px;
	left: 7px;
}

#playpwlink
{
	display: block;
	position: absolute;
	top: 663px;
	text-align: center;
	left: 350px;
	overflow: hidden;
	color: #389ed1;
	font-family: Arial;
	font-weight: bold;
	font-size: 11px;
	z-index: 2;
	-webkit-transition: color 0.2s;
}

#playpwlink:hover
{
	color: #6dfcf5;
}

#mergeInfoLink
{
	display: block;
	text-align: center;
	overflow: hidden;
	color: #d15d03;
	font-weight: bold;
	font-size: 14px;
	z-index: 2;
	-webkit-transition: color 0.2s;
}

#mergeInfoLink:hover
{
	color: #edfc6e;
}

a:focus {
    outline: none;
    border: 0;
}

#InfoWindow
{
    font-size: 11px;
	color: #fff;
}

#MultiAuthWindow
{
	position:absolute;
	left:15px;
	top:595px;
	color: #fff;
	width:199px;
	font-size: 13px;
	font-weight: bold;
}

#Remember
{
	left: 30;
	font-size: 10px;
}

#tooltip
{
	display: none;
	position: absolute;
	z-index: 100;
	top: 600px;
	right: 110px;
	background-color: #FFFFFF;
	color: #000000;
	border: 1px;
	border-color: #000000;
	font-size:14px;
}

.mainContentFrame
{
	display:block;
	position: absolute;
	z-index: 5;
	top: 126px;
	left: 17px;
        width: 748px;
	height: 450px;
        background: url(auth/img/back_auth.png) no-repeat;
	border: 1px;
	box-shadow:inset 1px 1px 1px 0px #959669, inset -1px -1px 1px 0px #959669;
	border-radius: 5px;
}

.authContentFrame
{
	display:block;
	position: absolute;
	z-index: 5;
	top: 126px;
	left: 17px;
        width: 748px;
	height: 450px;
        background: url(auth/img/back_auth.png) no-repeat;
	border: 1px;
	box-shadow:inset 1px 1px 1px 0px #959669, inset -1px -1px 1px 0px #959669;
	border-radius: 5px;
}

#waitPanel
{
	display:block;
	position: relative;
	left: 250px;
	top: 0px;
	width: 498px;
	height: 450px;
}

#blanket
{
	position: absolute;
	background-color:#000;
	opacity: 0.5;
	z-index: 10;
	top:0px;
	left:0px;
	width:800px;
	height:690px;
	overflow: hidden;
}

.optionsCaption
{
	display: block;
	position: relative;
	color: #fff;
	width: 100%;
	font-weight: bold;
	font-size: 16px;
	color: #ffffff;
	text-shadow: 1px -1px 0px #5E5435, -1px 1px 0px #5E5435, 1px 1px 0px #5E5435, -1px -1px 0px #5E5435;
	text-align:left;
	top: -8px;
	left: 5px;
	display:inline;
	vertical-align:text-top;
}

.customButton
{
	display: block;
	cursor: pointer;
	z-index: 11;
	position: absolute;
	background: url(images/custom-button-normal.png) no-repeat;
	background-size: 100% 100%;
	width: 115px;
	height: 26px;
	font-size: 16px;
	color: #ffffff;
}

.customButtonHover
{
	display: block;
	cursor: pointer;
	z-index: 11;
	position: absolute;
	background: url(images/custom-button-hover.png) no-repeat;
	background-size: 100% 100%;
	width: 115px;
	height: 26px;
	font-size: 16px;
	color: #ffffff;
}

.customButtonDisabled
{
	display: block;
	cursor: pointer;
	z-index: 11;
	position: absolute;
	background-image: url(images/custom-button-disabled.png);
	width: 115px;
	height: 26px;
	font-size: 16px;
	color: #9b9b9b;
}

.customButtonCaption
{
	display: block;
	position: relative;
	width: 100%;
	top:3px;
	text-align: center;
	z-index: 12;
	font-size: 16px;
	background-color: transparent;
}

option
{
	color: ButtonText;
}
