body            { font-family: sans-serif; background: white; }
a, h1, h2       { color: #377BA8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

.table_unbordered table,th, tr, td {  border-collapse:collapse;  border: 0px solid gray; }
.table_unbordered  td { width: 50em; }
.table_bordered  td {  border-collapse:collapse;  border: 1px solid gray; padding: 0.2em;}

.page           { margin: 1.8em; width: 80em; border: 0;
                  padding: 0.8em; background: white;  position:relative; float: right;}
.navigation 		{ margin: 1.8em; width: 10em; border: 0;
                  padding: 0.8em; background: white; position:relative; float: left;}		  
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #CEE5F5; padding: 0.5em;
                  border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; }

.tooltiped:hover .tooltip { 
    display: block;
}
.tooltip {
    display: none;  
    background: #C0C0C0;
	opacity:.6;
    margin-left: 200px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    width:415px;
    height:205px;
}
