python-dateutil==2.1
billiard==2.7.3.28
amqp==1.0.11
anyjson==0.3.3
Django==1.4
South==0.8.1
celery==3.0.19
django-celery==3.0.17
django-debug-toolbar==0.9.4
poster==0.8.1
psycopg2==2.5
django-pagination
django-annoying
suds