body {
  font-family: sans-serif;
}

.prop {
  font-weight: bold;
}

.num {
  color: #0000FF;
}

.string {
  color: #008000;
  white-space: pre-wrap;
}

li {
  position: relative;
}

li:after {
  content: ',';
}

li:last-child:after {
  content: '';
}

#json {
  font-family: monospace;
  font-size: 1.1em;
}

ul {
  list-style: none;
  margin: 0 0 0 2em;
  padding: 0;
}

