<!DOCTYPE html>
<html lang="ru" id="primeworld">
<head>
	<link rel="icon" type="image/png" href="{{ static_url('images/pw.png') }}"/>
	<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="{{ static_url('images/pw.ico') }}"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{ static_url("pwconnect.css") }}" type="text/css"/>
        <title>{{ _("change_mail_title") }}</title>
        <noscript>&lt;meta http-equiv="X-Frame-Options" content="deny" /&gt;</noscript>
    </head>
    <body>
<form method="post" id="reg" name="change" action="{{pwcf_prefix}}/do/changeemail">
    <input type="hidden" autocomplete="off" name="post_form_id" value="ad92d415b0ff2f0bba6e9a42f1b6681">
    <table class="uiGrid editor" cellspacing="0" cellpadding="1">
    <tbody>
        <tr><td class="label"><label for="reg_passwd__">{{ _("current_pass_label") }}</label></td><td><div class="field_container"><input type="password" class="inputtext" id="reg_passwd__" name="reg_passwd__" value="" autocomplete="off"></div></td></tr>
        <tr><td class="label"><label for="reg_email__">{{ _("new_email_label") }}</label></td><td><div class="field_container"><input type="text" class="inputtext" id="reg_email__" name="reg_email__" value="" autocomplete="off"></div></td></tr>
    </tbody>
    </table>
		<label class="uiButton uiButtonConfirm" id="chbutton" for="uce9ig_2">
		<input value="{{ _("change_mail_button") }}" tabindex="4" type="submit" id="uce9ig_2">
		</label>
    </form>
    </body>
</html>
