<!DOCTYPE html>
<html id="primeworld">
  <head>
    <title>{{ _("change_password_title") }}</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <link rel="icon" type="image/png" href="{{ static_url('img/pw.png') }}"/>
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="{{ static_url('img/pw.ico') }}"/>
    <link rel="stylesheet" href="{{ static_url("css/pwc/style.css") }}" type="text/css"/>

    <script type="text/javascript" src="{{ static_url("js/pwconnect.js") }}"></script>
    <noscript>&lt;meta http-equiv="X-Frame-Options" content="deny" /&gt;</noscript>
  </head>

  <body class="pwc [pw connect]">
    <div class="pwc_content">
      <div class="pwc_header">
        <div class="pwc_content__wrap t_middle">
          <div class="x_block__inline">
            <a class="x_block" href="{{logo}}" target="_blank">
              <img class="x_block" src="{{ static_url("img/pw_logo-ru.png") }}" alt="Prime World">

              <!-- лого для зарубежа
                   <img class="x_block" src="{{ static_url("img/pw_logo-abroad.png") }}" alt="Prime World">
                   -->
            </a>
          </div>
        </div>
      </div>

      <div class="pwc_section">
        <div class="pwc_section__head t_uppercase">
          <p class="pwc_section__head-title t_color__white ">
            {{ _("message") }}
          </p>
        </div>

        <div class="pwc_section__message">
          <p class="pwc_section__message-text">
            {{message}}
          </p>
        </div>
      </div>
    </div>

    <div class="pwc_footer">
      <div class="pwc_content__wrap t_middle">
        <div class="x_block__inline t_none_font">
          <div class="x_block__inline">
            <a class="x_block" href="http://www.nival.com/" target="_blank">
              <img src="{{ static_url('img/nival_logo.png') }}" alt="Nival">
            </a>
          </div>

          <p class="pwc_footer-text x_block__inline t_color__white">
            © 2008 - 2015 <a href="http://www.nival.com/" target="_blank">Nival</a>
                                                </br>
                                                {{ _("copyright") }}
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
