<!DOCTYPE html>
<html lang="ru" id="primeworld">
    <head>
		<link rel="icon" type="image/png" href="{{ static_url('images/pw.png') }}"/>
	<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="{{ static_url('images/pw.ico') }}"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{ static_url("pwconnect.css") }}" type="text/css"/>
        <title>Prime World Connect</title>
        <noscript>&lt;meta http-equiv="X-Frame-Options" content="deny" /&gt;</noscript>
    </head>
    <body>
{{user}}
<br>
<br>
<a href="{{pwcf_prefix}}/changeemail">Change email</a>
<br>
<br>
<a href="{{pwcf_prefix}}/changepwd">Change password</a>
<br>
<br>
<a href="{{pwcf_prefix}}/resetpwd">Reset password</a>
<br>
<br>
<a href="{{pwcf_prefix}}/resetpwdlink">Send link to change password</a>
<br>
<br>
<a href="{{pwcf_prefix}}/do/logout">Logout, {{email}} </a>
    </body>
</html>
