.status
{
  background-color: #FFFF66;
}

.status.stopped
{
  background-color: #FF6666;
}

.status.running
{
  background-color: #99FF99;
}

.actionlink
{
  padding: 5px;
  margin: 2px;
}

a.actionlink
{
  background-color: #CAD8E6;
  text-decoration: none;
}

span.actionlink
{
  background-color: #F0F2F4;
  color: #ACACAC;
}

button.actionlink
{
  background-color: #CAD8E6;
  border: 0px;
  color: #034AF3;
  cursor: pointer;
}

button.actionlink:hover
{
  color: #1d60ff;
}

button.actionlink:active
{
  color: #12eb87;
}