div#group_block 
{
  font-size: .80em;
}

div#group_block .switch
{
  padding : 2px 5px;
}

div#group_block .enabled
{
  background-color: #D6E0EB;
}

th.sid_col
{
  width: 120px;
}
th.machine_col
{
  width: 150px;
}
th.type_col
{
  width: 150px;
}
th.pid_col
{
  width: 70px;
}
th.uptime_col
{
  width: 100px;
}
th.status_col
{
  width: 130px;
}
th.commands_col
{
  min-width: 340px;
}
