<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
  <meta http-equiv = "Content-Type" content = "text/html; charset=ISO-8859-1"/>
  <meta name = "generator" content = "autotest"/>
  <title>autotest report</title>
  <style type = "text/css">
    #include raw $CSS_FILE
  </style>
</head>

<body>
<h1 class = "$KIND">autotest report</h1>

<p class = "timestamp">Run on $TIME_STAMP</p>

$BODY
</body>

</html>
